USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_LeaveReport_Summary]    Script Date: 12-06-2026 16:39:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_BI_LeaveReport_Summary]
(
    @FromDate DATE = NULL,
    @ToDate   DATE = NULL,
    @EmployeeName NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

    ;WITH LeaveDetails AS (
        SELECT
            EL.EmployeeId,
            EL.FromDate,
            EL.ToDate,
            EL.NoOfLeaves,
            EL.IsPaidLeave,
            DD.DropDownValue AS LeaveType,
            D.DropDownValue  AS LeaveStatus
        FROM EmployeeLeave EL
        LEFT JOIN DropDown DD ON EL.LeaveCategoryId = DD.Id
        LEFT JOIN DropDown D  ON EL.LeaveStatusId   = D.Id
        WHERE EL.Deleted != 1
          AND DD.DropDownValue IN ('Sick','Casual')
          AND EL.ToDate   >= @FromDate
          AND EL.FromDate <= @ToDate
          AND D.DropDownValue IN ('Applied','Sent to Approver','Approved')
    ),

    LeaveUtilization AS (
        SELECT
            LD.EmployeeId,
            MIN(LD.FromDate) AS FirstLeaveDateInRange,
            MAX(LD.ToDate)   AS LastLeaveDateInRange,

            SUM(CASE WHEN LD.IsPaidLeave = 1 AND LD.LeaveType = 'Sick'
                     THEN ISNULL(LD.NoOfLeaves,0) ELSE 0 END) AS UtilizedPaidSickLeaves,

            SUM(CASE WHEN LD.IsPaidLeave = 1 AND LD.LeaveType = 'Casual'
                     THEN ISNULL(LD.NoOfLeaves,0) ELSE 0 END) AS UtilizedPaidCasualLeaves,

            SUM(CASE WHEN LD.IsPaidLeave = 0 AND LD.LeaveType = 'Sick'
                     THEN ISNULL(LD.NoOfLeaves,0) ELSE 0 END) AS UtilizedUnpaidSickLeaves,

            SUM(CASE WHEN LD.IsPaidLeave = 0 AND LD.LeaveType = 'Casual'
                     THEN ISNULL(LD.NoOfLeaves,0) ELSE 0 END) AS UtilizedUnpaidCasualLeaves
        FROM LeaveDetails LD
        GROUP BY LD.EmployeeId
    ),

    CumulativeYTD AS (
        SELECT
            EL.EmployeeId,
            SUM(CASE WHEN EL.IsPaidLeave = 1 AND DD.DropDownValue = 'Sick'
                     THEN ISNULL(EL.NoOfLeaves,0) ELSE 0 END) AS CumPaidSickUsed,

            SUM(CASE WHEN EL.IsPaidLeave = 1 AND DD.DropDownValue = 'Casual'
                     THEN ISNULL(EL.NoOfLeaves,0) ELSE 0 END) AS CumPaidCasualUsed
        FROM EmployeeLeave EL
        LEFT JOIN DropDown DD ON EL.LeaveCategoryId = DD.Id
        LEFT JOIN DropDown D  ON EL.LeaveStatusId   = D.Id
        WHERE EL.Deleted != 1
          AND DD.DropDownValue IN ('Sick','Casual')
          AND YEAR(EL.FromDate) = YEAR(@FromDate)
          AND EL.FromDate <= @ToDate
          AND D.DropDownValue IN ('Applied','Sent to Approver','Approved')
        GROUP BY EL.EmployeeId
    ),

    Credits AS (
        SELECT 
            LC.EmployeeId,

            SUM(CASE WHEN D.DropDownValue = 'Paid'
                     AND LC.CreditReason = 'Yearly'
                     THEN ISNULL(LC.SickLeaves,0) ELSE 0 END) AS AllocatedPaidSickLeaves,

            SUM(CASE WHEN D.DropDownValue = 'Paid'
                     AND LC.CreditReason <> 'Yearly'
                     THEN ISNULL(LC.SickLeaves,0) ELSE 0 END) AS AddedPaidSickLeaves,

            SUM(CASE WHEN D.DropDownValue = 'Paid'
                     AND LC.CreditReason = 'Yearly'
                     THEN ISNULL(LC.CasualLeaves,0) ELSE 0 END) AS AllocatedPaidCasualLeaves,

            SUM(CASE WHEN D.DropDownValue = 'Paid'
                     AND LC.CreditReason <> 'Yearly'
                     THEN ISNULL(LC.CasualLeaves,0) ELSE 0 END) AS AddedPaidCasualLeaves,

            SUM(CASE WHEN D.DropDownValue = 'Unpaid'
                     THEN ISNULL(LC.SickLeaves,0) ELSE 0 END) AS AllocatedUnpaidSickLeaves,

            SUM(CASE WHEN D.DropDownValue = 'Unpaid'
                     THEN ISNULL(LC.CasualLeaves,0) ELSE 0 END) AS AllocatedUnpaidCasualLeaves
        FROM LeaveCredit LC
        INNER JOIN DropDown D ON LC.LeaveTypeId = D.Id
        WHERE LC.LeaveCreditsForYear BETWEEN YEAR(@FromDate) AND YEAR(@ToDate)
          AND LC.Deleted != 1
        GROUP BY LC.EmployeeId
    )

    SELECT
        @FromDate AS ReportFromDate,
        @ToDate   AS ReportToDate,

        E.Id AS EmployeeId,
        P.FirstName + ' ' + P.LastName AS EmployeeName,

        LU.FirstLeaveDateInRange,
        LU.LastLeaveDateInRange,

        NULLIF(COALESCE(C.AllocatedPaidSickLeaves,0),0) AS AllocatedPaidSickLeaves,
        NULLIF(COALESCE(C.AddedPaidSickLeaves,0),0)     AS AddedPaidSickLeaves,
        NULLIF(COALESCE(C.AllocatedPaidSickLeaves,0)
             + COALESCE(C.AddedPaidSickLeaves,0),0)     AS TotalPaidSickLeaves,

        NULLIF(COALESCE(LU.UtilizedPaidSickLeaves,0),0) AS UtilizedPaidSickLeaves,

        NULLIF(
            (COALESCE(C.AllocatedPaidSickLeaves,0)
           + COALESCE(C.AddedPaidSickLeaves,0))
           - COALESCE(CY.CumPaidSickUsed,0),0)          AS BalancePaidSick,

        NULLIF(COALESCE(C.AllocatedPaidCasualLeaves,0),0) AS AllocatedPaidCasualLeaves,
        NULLIF(COALESCE(C.AddedPaidCasualLeaves,0),0)     AS AddedPaidCasualLeaves,
        NULLIF(COALESCE(C.AllocatedPaidCasualLeaves,0)
             + COALESCE(C.AddedPaidCasualLeaves,0),0)     AS TotalPaidCasualLeaves,

        NULLIF(COALESCE(LU.UtilizedPaidCasualLeaves,0),0) AS UtilizedPaidCasualLeaves,

        NULLIF(
            (COALESCE(C.AllocatedPaidCasualLeaves,0)
           + COALESCE(C.AddedPaidCasualLeaves,0))
           - COALESCE(CY.CumPaidCasualUsed,0),0)         AS BalancePaidCasual,

        NULLIF(COALESCE(C.AllocatedUnpaidSickLeaves,0),0)   AS AllocatedUnpaidSickLeaves,
        NULLIF(COALESCE(LU.UtilizedUnpaidSickLeaves,0),0)   AS UtilizedUnpaidSickLeaves,
        NULLIF(COALESCE(C.AllocatedUnpaidCasualLeaves,0),0) AS AllocatedUnpaidCasualLeaves,
        NULLIF(COALESCE(LU.UtilizedUnpaidCasualLeaves,0),0) AS UtilizedUnpaidCasualLeaves

    FROM Employee E
    INNER JOIN Person P ON P.Id = E.PersonId
    LEFT JOIN Credits C ON C.EmployeeId = E.Id
    LEFT JOIN LeaveUtilization LU ON LU.EmployeeId = E.Id
    LEFT JOIN CumulativeYTD CY ON CY.EmployeeId = E.Id
    WHERE E.Active = 1
    and E.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
      AND (
            @EmployeeName IS NULL
            OR @EmployeeName = ''
            OR E.Id IN (
                SELECT TRY_CAST(value AS UNIQUEIDENTIFIER)
                FROM STRING_SPLIT(@EmployeeName, ',')
            )
          )
    ORDER BY EmployeeName;
END
