USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Project_MonthlyPlan_WordCount]    Script Date: 12-06-2026 16:45:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sp_BI_Project_MonthlyPlan_WordCount]
(
@FromDate DATE=NULL,
@ToDate DATE = NULL,
@CustomerName VARCHAR(MAX)= NULL,
@Projects VARCHAR(MAX)= NULL,
@ProjectStatus VARCHAR(MAX)= NULL,
@ProjectType VARCHAR(MAX)= NULL,
@ProjectPriority VARCHAR(MAX)= NULL,
@ProjectCategory VARCHAR(MAX)= NULL,
@ProjectSubcategory VARCHAR(MAX)= NULL
)
AS 
BEGIN

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
-- 1. Generate all months in the range
;WITH MonthsCTE AS (
    SELECT DATEADD(MONTH, DATEDIFF(MONTH, 0, @FromDate), 0) AS MonthStart
    UNION ALL
    SELECT DATEADD(MONTH, 1, MonthStart)
    FROM MonthsCTE
    WHERE MonthStart < DATEADD(MONTH, DATEDIFF(MONTH, 0, @ToDate), 0)
),

-- 2. Aggregate Actual Data (WORD COUNT)
ActualData AS (
    SELECT 
        DATEADD(MONTH, DATEDIFF(MONTH, 0, PWPD.WeekDate), 0) AS MonthStart,
        P.Id AS ProjectId,
        P.Name AS Project,
        CASE WHEN P.Active = 1 THEN 1 ELSE 0 END AS StatusId,
        CASE WHEN P.Active = 1 THEN 'Active' ELSE 'Inactive' END AS Status,

        -- ? Word Count
        SUM(
            LEN(PWPDL.ActualDescription)
            - LEN(REPLACE(PWPDL.ActualDescription, ' ', '')) + 1
        ) AS ActualWordCount

    FROM Projects P
    INNER JOIN VW_CustomerProjectList CPL ON CPL.Id = P.Id
    INNER JOIN Project_WeeklyPlan PW ON PW.ProjectId = P.Id
    INNER JOIN Project_WeeklyPlan_Dates PWPD ON PWPD.ProjectWeeklyPlanId = PW.Id
    INNER JOIN Project_WeeklyPlan_Dates_Lines PWPDL ON PWPDL.ProjectWeeklyPlanDatesId = PWPD.Id
    LEFT JOIN DropDown D ON D.Id = PWPD.PlanTypeId

    WHERE 
        P.Deleted <> 1
        AND PWPDL.Deleted <> 1
        AND PWPDL.ActualDescription IS NOT NULL
        AND LTRIM(RTRIM(PWPDL.ActualDescription)) <> ''
        AND D.Id = 'A2F7DA83-A804-4ACE-914D-F0B6E9F63A39' ---- Monthly Plan ID
        AND PWPD.WeekDate BETWEEN @FromDate AND @ToDate
        AND P.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
    AND (@CustomerName IS NULL OR @CustomerName='' OR CPL.CustomerId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@CustomerName,',')))
    AND (@Projects IS NULL OR @Projects='' OR P.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
    AND (@ProjectStatus IS NULL OR @ProjectStatus='' OR P.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatus,',')))
    AND (@ProjectType IS NULL OR @ProjectType='' OR P.ProjectTypeId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectType,',')))
    AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR P.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))
    AND (@ProjectCategory IS NULL OR @ProjectCategory='' OR P.ProjectCategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectCategory,',')))
    AND (@ProjectSubcategory IS NULL OR @ProjectSubcategory='' OR P.ProjectSubcategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectSubcategory,',')))

    GROUP BY 
        DATEADD(MONTH, DATEDIFF(MONTH, 0, PWPD.WeekDate), 0),
        P.Id, P.Name, P.Active
),

-- 3. Aggregate Expected Data (WORD COUNT)
ExpectedData AS (
    SELECT 
        DATEADD(MONTH, DATEDIFF(MONTH, 0, PWPD.WeekDate), 0) AS MonthStart,
        P.Id AS ProjectId,
        P.Name AS Project,
        CASE WHEN P.Active = 1 THEN 1 ELSE 0 END AS StatusId,
        CASE WHEN P.Active = 1 THEN 'Active' ELSE 'Inactive' END AS Status,

        -- ? Word Count
        SUM(
            LEN(PWPDL.ExpectedDescription)
            - LEN(REPLACE(PWPDL.ExpectedDescription, ' ', '')) + 1
        ) AS ExpectedWordCount

    FROM Projects P
    INNER JOIN VW_CustomerProjectList CPL ON CPL.Id = P.Id
    INNER JOIN Project_WeeklyPlan PW ON PW.ProjectId = P.Id
    INNER JOIN Project_WeeklyPlan_Dates PWPD ON PWPD.ProjectWeeklyPlanId = PW.Id
    INNER JOIN Project_WeeklyPlan_Dates_Lines PWPDL ON PWPDL.ProjectWeeklyPlanDatesId = PWPD.Id
    LEFT JOIN DropDown D ON D.Id = PWPD.PlanTypeId

    WHERE 
        P.Deleted <> 1
        AND PWPDL.Deleted <> 1
        AND PWPDL.ExpectedDescription IS NOT NULL
        AND LTRIM(RTRIM(PWPDL.ExpectedDescription)) <> ''
        AND D.Id = 'A2F7DA83-A804-4ACE-914D-F0B6E9F63A39' --- Monthly Plan ID
        AND PWPD.WeekDate BETWEEN @FromDate AND @ToDate
        AND P.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
    AND (@CustomerName IS NULL OR @CustomerName='' OR CPL.CustomerId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@CustomerName,',')))
    AND (@Projects IS NULL OR @Projects='' OR P.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
    AND (@ProjectStatus IS NULL OR @ProjectStatus='' OR P.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatus,',')))
    AND (@ProjectType IS NULL OR @ProjectType='' OR P.ProjectTypeId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectType,',')))
    AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR P.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))
    AND (@ProjectCategory IS NULL OR @ProjectCategory='' OR P.ProjectCategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectCategory,',')))
    AND (@ProjectSubcategory IS NULL OR @ProjectSubcategory='' OR P.ProjectSubcategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectSubcategory,',')))


    GROUP BY 
        DATEADD(MONTH, DATEDIFF(MONTH, 0, PWPD.WeekDate), 0),
        P.Id, P.Name, P.Active
),

-- 4. All Projects
AllProjects AS (
    SELECT DISTINCT ProjectId, Project, StatusId, Status
    FROM (
        SELECT ProjectId, Project, StatusId, Status FROM ActualData
        UNION
        SELECT ProjectId, Project, StatusId, Status FROM ExpectedData
    ) p
)

-- 5. Final Output (FOR SSRS)
SELECT
    M.MonthStart AS [Date],   -- for column grouping
    FORMAT(M.MonthStart, 'MMMM yyyy') AS MonthName,
    P.ProjectId,
    P.Project,
    P.StatusId,
    P.Status,
    ISNULL(E.ExpectedWordCount, 0) AS PlannedTarget,
    ISNULL(A.ActualWordCount, 0) AS TargetAchieved
FROM MonthsCTE M
CROSS JOIN AllProjects P
LEFT JOIN ActualData A 
    ON A.MonthStart = M.MonthStart AND A.ProjectId = P.ProjectId
LEFT JOIN ExpectedData E
    ON E.MonthStart = M.MonthStart AND E.ProjectId = P.ProjectId
ORDER BY M.MonthStart, P.ProjectId
OPTION (MAXRECURSION 0);

end;
