USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_ResourceAllocation_Weekly]    Script Date: 12-06-2026 18:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_BI_ResourceAllocation_Weekly]
(
    @Year               INT             = NULL,
    @Month              INT             = NULL,
    @WeekendDate        DATE            = NULL,

    @CustomerName       NVARCHAR(MAX)   = NULL,
    @Projects           NVARCHAR(MAX)   = NULL,
    @ProjectStatus      NVARCHAR(MAX)   = NULL,
    @ProjectType        NVARCHAR(MAX)   = NULL,
    @ProjectPriority    NVARCHAR(MAX)   = NULL,
    @ProjectCategory    NVARCHAR(MAX)   = NULL,
    @ProjectSubCategory NVARCHAR(MAX)   = NULL,
    @EmployeeName       NVARCHAR(MAX)   = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

    -- Step 1: Active Employees
    WITH EmployeeDetails AS (
        SELECT
            E.Id AS EmployeeId,
            A.Id AS AspNetUserId,
            E.PersonId,
            P.FirstName AS EmployeeFirstName,
            P.LastName AS EmployeeLastName
        FROM Employee E
        LEFT JOIN EmployeeStatus ES ON E.Id = ES.EmployeeId
        LEFT JOIN Dropdown DD ON DD.Id = ES.EmployeeStatusId
        LEFT JOIN Person P ON E.PersonId = P.Id
        LEFT JOIN AspNetUsers A ON A.PersonId = P.Id
        WHERE DD.DropdownValue = 'Current'
          AND E.Deleted != 1
          AND E.ReleaseDate IS NULL
    ),

    -- Step 2: Filtered Project List
    FilteredProjects AS (
        SELECT
            P.Id AS ProjectId,
            P.Name AS ProjectName,
            Cpl.CustomerId,
            P.ProjectStatusId,
            P.ProjectPriorityId,
            P.ProjectTypeId,
            P.ProjectCategoryId,
            P.ProjectSubcategoryId,
            P.Active
        FROM Projects P
        INNER JOIN VW_CustomerProjectList Cpl ON Cpl.Id = P.Id
        WHERE P.Deleted != 1
    ),

    -- Step 3: Actual Estimated Hours from Planner
    ProjectHours AS (
        SELECT 
            pwdla.EmployeeID,
            p.Id AS ProjectId,
            pwd.WeekDate,
            SUM(pwdla.EstimatedHours) AS EstimatedHours
        FROM Projects p
        INNER JOIN Project_WeeklyPlan pw ON p.Id = pw.ProjectId
        INNER JOIN Project_WeeklyPlan_Dates pwd ON pw.Id = pwd.ProjectWeeklyPlanId
        INNER JOIN Project_WeeklyPlan_Dates_Lines pwdl ON pwd.Id = pwdl.ProjectWeeklyPlanDatesId
        INNER JOIN Project_WeeklyPlan_Dates_Lines_AssignedTo pwdla 
            ON pwdl.Id = pwdla.ProjectWeeklyPlanDatesLineId
        WHERE p.Deleted != 1
          AND p.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
          AND pwdl.Deleted != 1
          AND pwdla.Deleted != 1
          AND pwd.PlanTypeID = '1CFDEC9F-9C68-4E75-BC4E-E408C5918B1A' --- Weekly Plan ID
          AND (@Year IS NULL OR YEAR(pwd.WeekDate) = @Year)
          AND (@Month IS NULL OR MONTH(pwd.WeekDate) = @Month)
          AND (
                @WeekendDate IS NULL
                OR CAST(pwd.WeekDate AS DATE) 
                   BETWEEN DATEADD(DAY, -6, CAST(@WeekendDate AS DATE))
                   AND CAST(@WeekendDate AS DATE)
              )
        GROUP BY pwdla.EmployeeID, p.Id, pwd.WeekDate
    ),

    -- Step 4: Cross Join Employees and Projects
    EmployeeProjectCross AS (
        SELECT 
            ED.EmployeeId,
            ED.EmployeeFirstName,
            ED.EmployeeLastName,
            FP.CustomerId,
            FP.ProjectId,
            FP.ProjectName,
            FP.ProjectStatusId,
            FP.ProjectPriorityId,
            FP.ProjectTypeId,
            FP.ProjectCategoryId,
            FP.ProjectSubcategoryId,
            FP.Active
        FROM EmployeeDetails ED
        CROSS JOIN FilteredProjects FP
    )

    -- Final Output
    SELECT 
        EPC.EmployeeId,
        (EPC.EmployeeFirstName + ' ' + EPC.EmployeeLastName) AS EmployeeName,
        EPC.CustomerId,
        EPC.ProjectId,
        EPC.ProjectName,
        EPC.ProjectTypeId,
        EPC.ProjectPriorityId,
        EPC.ProjectCategoryId,
        EPC.ProjectSubcategoryId,
        PH.WeekDate,
        CASE WHEN EPC.Active = 1 THEN 1 ELSE 0 END AS StatusId,
        CASE WHEN EPC.Active = 1 THEN 'Active' ELSE 'Inactive' END AS Status,
        PH.EstimatedHours
    FROM EmployeeProjectCross EPC
    LEFT JOIN ProjectHours PH
        ON PH.EmployeeID = EPC.EmployeeId
       AND PH.ProjectId = EPC.ProjectId
    WHERE
        (@CustomerName IS NULL OR EPC.CustomerId IN (SELECT value FROM STRING_SPLIT(@CustomerName, ',')))
        AND (@Projects IS NULL OR EPC.ProjectId IN (SELECT value FROM STRING_SPLIT(@Projects, ',')))
        AND (@ProjectStatus IS NULL OR EPC.ProjectStatusId IN (SELECT value FROM STRING_SPLIT(@ProjectStatus, ',')))
        AND (@ProjectType IS NULL OR EPC.ProjectTypeId IN (SELECT value FROM STRING_SPLIT(@ProjectType, ',')))
        AND (@ProjectPriority IS NULL OR EPC.ProjectPriorityId IN (SELECT value FROM STRING_SPLIT(@ProjectPriority, ',')))
        AND (@ProjectCategory IS NULL OR ISNULL(EPC.ProjectCategoryId, '') 
             IN (SELECT value FROM STRING_SPLIT(@ProjectCategory, ',')))
        AND (@ProjectSubCategory IS NULL OR ISNULL(EPC.ProjectSubcategoryId, '') 
             IN (SELECT value FROM STRING_SPLIT(@ProjectSubCategory, ',')))
        AND (@EmployeeName IS NULL OR EPC.EmployeeId 
             IN (SELECT value FROM STRING_SPLIT(@EmployeeName, ',')));

END
