USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Expense_ReportDeatils]    Script Date: 12-06-2026 16:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[sp_BI_Expense_ReportDeatils]
(
    @FromDateParam     DATE        = NULL,
    @ToDateParam       DATE        = NULL,
    @CategoryParam     NVARCHAR(MAX) = NULL,
    @SubCategoryParam  NVARCHAR(MAX) = NULL,
    @ApprStatusParam   NVARCHAR(MAX) = NULL,
    @ViewParam         NVARCHAR(50)  = NULL   -- Expense | Advance | Purchase
)
AS
BEGIN
    SET NOCOUNT ON;
--Expense Data
IF (@ViewParam = 'Expense')
BEGIN
    SELECT  
        e.ExpenseNumber, 
        e.ExpenseDate,
        ExpLine.ExpenseCategoryId AS [Category Id],
        ExpLine.ExpenseSubCategoryId AS [Subcategory Id],
        ddt.GroupName AS [Group Name],
        ddt.DisplayName AS [Category Name],
        subCat.DropDownValue AS [Subcategory Name],
        statusDD.DropDownValue AS [Approvement Status],
        SUM(ExpLine.Amount) AS Amount
    FROM Expense e
    LEFT JOIN Expense_Lines ExpLine ON e.Id = ExpLine.ExpenseId
    LEFT JOIN DropDownType ddt ON ddt.Id = ExpLine.ExpenseCategoryId
    LEFT JOIN DropDown subCat ON ExpLine.ExpenseSubCategoryId = subCat.Id
    LEFT JOIN DropDown statusDD ON e.StatusId = statusDD.Id   
    WHERE 
        e.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
       AND (ISNULL(ddt.Id,'') IN (SELECT value FROM STRING_SPLIT(@CategoryParam,',')))
        AND (ISNULL(subCat.Id,'') IN (SELECT value FROM STRING_SPLIT(@SubCategoryParam,',')))
        AND CAST(e.ExpenseDate AS DATE) BETWEEN @FromDateParam AND @ToDateParam
        AND ddt.GroupName = 'Expense Category'
        AND (
            ((statusDD.DropDownValue IS NULL OR LTRIM(RTRIM(statusDD.DropDownValue)) = '')
                AND 'NA' IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,',')))
            OR (LTRIM(RTRIM(statusDD.DropDownValue)) IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,',')))
        )
    GROUP BY 
        e.ExpenseNumber,
        e.ExpenseDate,
        ddt.GroupName,
        ddt.DisplayName,
        subCat.DropDownValue,
        statusDD.DropDownValue,
        ExpLine.ExpenseCategoryId,
        ExpLine.ExpenseSubCategoryId
    ORDER BY ddt.DisplayName;
END
--Expense Advance
ELSE IF (@ViewParam = 'Advance')
BEGIN
    SELECT 
        exp_adv.Id AS [Expense Advance Id],
        exp_adv.RequestDate AS [Expense Date],
        ddt.GroupName,
        ddt.DisplayName AS [Category Name],
        dd.DropDownValue AS [SubCategory Name],
        statusDD.DropDownValue AS [Approvement Status],
        SUM(exp_adv.Amount) AS Amount
    FROM Expense_Advance_Requests exp_adv
    LEFT JOIN DropDownType ddt ON ddt.Id = exp_adv.ItemCategoryId
    LEFT JOIN DropDown dd ON dd.Id = exp_adv.ItemSubCategoryId
    LEFT JOIN DropDown statusDD ON statusDD.Id = exp_adv.StatusId   
    WHERE 
        exp_adv.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
        AND (ISNULL(ddt.Id,'') IN (SELECT value FROM STRING_SPLIT(@CategoryParam,',')))
        AND (ISNULL(dd.Id,'') IN (SELECT value FROM STRING_SPLIT(@SubCategoryParam,',')))
        AND CAST(exp_adv.RequestDate AS DATE) BETWEEN @FromDateParam AND @ToDateParam
        AND ddt.GroupName = 'Expense Category'
        AND (
            ((statusDD.DropDownValue IS NULL OR LTRIM(RTRIM(statusDD.DropDownValue)) = '')
                AND 'NA' IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,',')))
            OR (LTRIM(RTRIM(statusDD.DropDownValue)) IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,',')))
        )
    GROUP BY 
        exp_adv.Id,
        exp_adv.RequestDate,
        ddt.DisplayName,
        ddt.GroupName,
        dd.DropDownValue,
        statusDD.DropDownValue
    ORDER BY ddt.DisplayName;
END
--Expense Purchase
ELSE IF (@ViewParam = 'Purchase')
BEGIN
    SELECT 
        exp_pur.Id AS [Expense Purchase Id],
        exp_pur.RequestDate AS [Expense Date],
        ddt.GroupName,
        ddt.DisplayName AS [Category Name],
        dd.DropDownValue AS [SubCategory Name],
        statusDD.DropDownValue AS [Approvement Status],
        SUM(exp_pur.EstimatedAmount) AS Amount
    FROM Expense_Purchase_Requests exp_pur
    LEFT JOIN DropDownType ddt ON ddt.Id = exp_pur.ItemCategoryId
    LEFT JOIN DropDown dd ON dd.Id = exp_pur.ItemSubCategoryId
    LEFT JOIN DropDown statusDD ON statusDD.Id = exp_pur.StatusId 
    WHERE
        exp_pur.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
        and (ISNULL(ddt.Id,'') IN (SELECT value FROM STRING_SPLIT(@CategoryParam,',')))
        AND (ISNULL(dd.Id,'') IN (SELECT value FROM STRING_SPLIT(@SubCategoryParam,',')))
        AND CAST(exp_pur.RequestDate AS DATE) BETWEEN @FromDateParam AND @ToDateParam
        AND ddt.GroupName = 'Expense Category'
        AND (
            ((statusDD.DropDownValue IS NULL OR LTRIM(RTRIM(statusDD.DropDownValue)) = '')
                AND 'NA' IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,',')))
            OR (LTRIM(RTRIM(statusDD.DropDownValue)) IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,',')))
        )
    GROUP BY 
        exp_pur.Id,
        exp_pur.RequestDate,
        ddt.GroupName,
        ddt.DisplayName,
        dd.DropDownValue,
        statusDD.DropDownValue
    ORDER BY ddt.DisplayName;
END
END;
