USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Notes]    Script Date: 12-06-2026 16:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sp_BI_Notes]
@Projects varchar(max)=NULL,
@TOdate DATE= NULL,
@Fromdate DATE= NULL
as
begin
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SELECT 
    FORMAT(CAST(N.CreatedOnUTC AS DATE), 'MM/dd/yyyy') AS Date,
    ---Project Notes
    P.Id AS ProjectId,
    P.Name AS Project,

    CASE 
        WHEN P.Active = 1 THEN 1 ELSE 0
    END AS StatusId,
    CASE 
        WHEN P.Active = 1 THEN 'Active' ELSE 'Inactive'
    END AS Status,

    CASE 
        WHEN COUNT(CASE WHEN N.Type = 'Projects' THEN 1 END) > 0 THEN
            CONCAT(
                '[Projects]', CHAR(13) + CHAR(10),
                STRING_AGG(
                    CASE 
                        WHEN N.Type = 'Projects' 
                        THEN N.Note
                    END, 
                    CHAR(13) + CHAR(10)
                )
            )
        ELSE NULL
    END AS ProjectNotes,

    ---Task Notes
    pt.id as TaskID,
    pt.name as TaskName,

    CASE 
        WHEN COUNT(CASE WHEN N.Type = 'Project Task' THEN 1 END) > 0 THEN
            STRING_AGG(
                CASE 
                    WHEN N.Type = 'Project Task' 
                    THEN CONCAT(
                        '[Project Task - ', ISNULL(PT.Name, ''), ']', 
                        CHAR(13) + CHAR(10),N.Note
                    )
                END,
                CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
            )
        ELSE NULL
    END AS TaskNotes,
    ---Activity Notes
      Pa.name as ActivtyName,
      pa.id as ActivityID,

    CASE 
        WHEN COUNT(CASE WHEN N.Type = 'Project Activity' THEN 1 END) > 0 THEN
            STRING_AGG(
                CASE 
                    WHEN N.Type = 'Project Activity' 
                    THEN CONCAT(
                        '[Project Activity - ', ISNULL(PA.Name, ''), ']', 
                        CHAR(13) + CHAR(10),N.Note
                    )
                END,
                CHAR(13) + CHAR(10) + CHAR(13) + CHAR(10)
            )
        ELSE NULL
    END AS ActivityNotes

FROM Notes N

LEFT JOIN ProjectTasks PT
    ON N.Type = 'Project Task' AND N.SubModuleId = PT.Id AND PT.Deleted != 1

LEFT JOIN ProjectActivities PA
    ON N.Type = 'Project Activity' AND N.SubModuleId = PA.Id AND PA.Deleted != 1

LEFT JOIN Projects P
    ON (
        (N.Type = 'Projects' AND N.SubModuleId = P.Id) OR
        (N.Type = 'Project Task' AND PT.ProjectId = P.Id) OR
        (N.Type = 'Project Activity' AND PA.ProjectId = P.Id)
    )
    AND P.Deleted != 1

WHERE 
    N.Type IN ('Projects', 'Project Task', 'Project Activity')
    AND N.Deleted != 1
    and p.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
    AND (@Projects IS NULL
    OR @Projects =''
    OR P.Id IN(Select Try_cast(Value as Uniqueidentifier) from string_split(@Projects,','))
    )
    AND N.CreatedOnUTC BETWEEN @FromDate and @ToDate

GROUP BY 
    FORMAT(CAST(N.CreatedOnUTC AS DATE), 'MM/dd/yyyy'),
    P.Id,
    P.Name,
    P.Active,
    pt.id,
    pt.name ,
    Pa.name,
    pa.id ;
    end;
