USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Employee_DeviceUsage]    Script Date: 12-06-2026 16:33:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sp_BI_Employee_DeviceUsage]
(
@FromDate DATE= NULL,
@ToDate DATE= NULL,
@EmployeeName VARCHAR(MAX) = NULL,
@EmployeeStatus VARCHAR(MAX) = NULL,
@Devices VARCHAR(MAX) = NULL
)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

WITH DeviceHistory AS (
    -- Base CTE: all assignment rows with full person/device info
    SELECT
        i.Id                                                        AS InventoryId,
        i.InventoryCode                                             AS DeviceID,
        iit.Name                                                    AS DeviceName,
        CONCAT(
            p.FirstName, ' ',
            ISNULL(p.MiddleName + ' ', ''),
            p.LastName
        )                                                           AS EmployeeName,
        e.Id                                                        AS EmployeeId,
        e.Active                                                    AS EmployeeActive,
        ia.AssignDate,
        ia.ReturnDate,
        dd.DropdownValue                                            AS InventoryStatus,

        
      

        -- -- Total distinct people who have ever used this device --
        COUNT(ia.Id) OVER (
            PARTITION BY ia.InventoryId
        )                                                           AS TotalUsersCount,

        -- -- Resolve the effective return date --
        CASE
            -- Real return date recorded
            WHEN ia.ReturnDate IS NOT NULL
                THEN ia.ReturnDate
            -- Device was re-assigned ? next assignment date acts as return
            WHEN EXISTS (
                SELECT 1
                FROM   InventoryAssignment i2
                WHERE  i2.InventoryId = ia.InventoryId
                  AND  i2.AssignDate  > ia.AssignDate
            )
                THEN (
                    SELECT MIN(i2.AssignDate)
                    FROM   InventoryAssignment i2
                    WHERE  i2.InventoryId = ia.InventoryId
                      AND  i2.AssignDate  > ia.AssignDate
                )
            -- Device back in stock but no formal return captured
            WHEN dd.DropdownValue IN ('Available', 'Damaged')
                THEN DATEADD(MONTH, 1, ia.AssignDate)
            -- Still with this person, no next assignment yet
            ELSE NULL
        END                                                         AS EffectiveReturnDate

    FROM       Inventory           i
    LEFT JOIN  InventoryAssignment ia  ON i.Id          = ia.InventoryId
    LEFT JOIN  InventoryItemType   iit ON i.ItemTypeId  = iit.Id
    LEFT JOIN  Employee            e   ON ia.EmployeeId = e.Id
    LEFT JOIN  Person              p   ON e.PersonId    = p.Id
    LEFT JOIN  DropDown            dd  ON i.InventoryStatusId = dd.Id
    LEFT JOIN  DropDownType        ddt ON dd.DropDownTypeId   = ddt.Id
    WHERE
        i.Deleted  = 0
        AND ia.Deleted = 0
        AND p.FirstName IS NOT NULL
        AND p.LastName  IS NOT NULL
        -- Keep only currently-active statuses
        AND dd.DropdownValue IN ('Assigned', 'In Working')
        AND e.siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' --- VSKY SITE-ID
        -- Parameter filters
		AND (
            @EmployeeName IS NULL OR @EmployeeName = ''
            OR e.Id IN (
                SELECT TRY_CAST(VALUE AS UNIQUEIDENTIFIER)
                FROM   STRING_SPLIT(@EmployeeName, ',')
            )
        )
        AND (
            @Devices IS NULL OR @Devices = ''
            OR iit.Id IN (
                SELECT TRY_CAST(VALUE AS UNIQUEIDENTIFIER)
                FROM   STRING_SPLIT(@Devices, ',')
            )
        )
        AND (
            @EmployeeStatus IS NULL OR @EmployeeStatus = ''
            OR e.Active IN (
                SELECT TRY_CAST(VALUE AS BIT)
                FROM   STRING_SPLIT(@EmployeeStatus, ',')
            )
        )
        AND ia.AssignDate BETWEEN @FromDate AND @ToDate
)

SELECT
    dh.DeviceID,
    dh.DeviceName,
    dh.EmployeeName,
    dh.AssignDate                                                   AS IssueDate,
    dh.EffectiveReturnDate                                          AS ReturnDate,
    -- -- Usage chain columns --
    dh.TotalUsersCount,                      -- e.g. 3 = device used by 3 people total
    -- Is this the current holder, or a past user?
    CASE
        WHEN dh.EffectiveReturnDate IS NULL THEN 'Current Holder'
        ELSE 'Past User'
    END                                                            AS HolderStatus,
    dh.InventoryStatus
FROM  DeviceHistory dh
ORDER BY
    dh.DeviceName; -- chronological order per device
 END;
