USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Project_WeeklyTimesheet]    Script Date: 12-06-2026 18:06:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_BI_Project_WeeklyTimesheet]
(
    @Year INT = NULL,
    @Month INT = NULL,
    @WeekEndDates NVARCHAR(MAX) = NULL,   -- comma-separated dates
    @Employees NVARCHAR(MAX) = NULL,      -- comma-separated EmployeeIds
    @Projects NVARCHAR(MAX) = NULL        -- comma-separated ProjectIds
)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
    SET DATEFIRST 1; -- Monday = 1

    /* 1?? Last Completed Weekend (Sunday) */
    WITH LastCompletedWeek AS (
        SELECT TOP 1 TheDate AS WeekEnd
        FROM DimDate
        WHERE DATEPART(WEEKDAY, TheDate) = 7
          AND (@Year IS NULL OR YEAR(TheDate) = @Year)
          AND (@Month IS NULL OR MONTH(TheDate) = @Month)
          AND TheDate < GETDATE()
        ORDER BY TheDate DESC
    ),

    /* 2?? Selected Week(s) */
    SelectedWeek AS (
        SELECT TheDate AS WeekEnd
        FROM DimDate
        WHERE 
            (
                @WeekEndDates IS NULL OR @WeekEndDates = ''
                OR TheDate IN (
                    SELECT TRY_CAST(value AS DATE)
                    FROM STRING_SPLIT(@WeekEndDates, ',')
                )
            )
    ),

    /* 3?? Convert WeekEnd ? ISO Week (Mon–Sun) */
    WeekRange AS (
        SELECT
            DATEADD(DAY, 1 - DATEPART(WEEKDAY, sw.WeekEnd), sw.WeekEnd) AS TheFirstOfWeek,
            sw.WeekEnd AS TheLastOfWeek
        FROM SelectedWeek sw
    ),

    /* Project details */
    ProjectDetails AS (
        SELECT
            P.Id AS ProjectId,
            P.[Name] AS ProjectName,
            CASE WHEN P.Active = 1 THEN 1 ELSE 0 END AS ProjectActiveStatusId,
            CASE WHEN P.Active = 1 THEN 'Active' ELSE 'Inactive' END AS ProjectActiveStatus,
            P.ProjectStatusId,
            DDS.DropDownValue AS ProjectStatus,
            P.ProjectPriorityId,
            DDP.DropDownValue AS ProjectPriority,
            P.ProjectTypeId,
            DDT.DropDownValue AS ProjectType,
            P.ProjectCategoryId,
            DDC.DropDownValue AS ProjectCategory,
            P.ProjectSubcategoryId,
            DDCS.DropDownValue AS ProjectSubCategory
        FROM Projects P
        LEFT JOIN DropDown DDS ON DDS.Id = P.ProjectStatusId AND DDS.Deleted <> 1
        LEFT JOIN DropDown DDP ON DDP.Id = P.ProjectPriorityId AND DDP.Deleted <> 1
        LEFT JOIN DropDown DDT ON DDT.Id = P.ProjectTypeId AND DDT.Deleted <> 1
        LEFT JOIN DropDown DDC ON DDC.Id = P.ProjectCategoryId AND DDC.Deleted <> 1
        LEFT JOIN DropDown DDCS ON DDCS.Id = P.ProjectSubcategoryId AND DDCS.Deleted <> 1
        WHERE P.Deleted <> 1
        AND P.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
    ),

    /* Timesheet summarized by Week */
    TimesheetDetails AS (
        SELECT 
            tl.ProjectId,
            PD.ProjectName,
            PD.ProjectActiveStatusId,
            PD.ProjectActiveStatus,
            PD.ProjectStatusId,
            PD.ProjectPriorityId,
            PD.ProjectTypeId,
            PD.ProjectCategoryId,
            PD.ProjectSubcategoryId,
            wr.TheFirstOfWeek,
            wr.TheLastOfWeek,
            SUM(tl.Hours) AS FilledHours
        FROM Timesheet t
        INNER JOIN TimesheetLines tl 
            ON tl.TimesheetId = t.Id AND tl.Deleted <> 1
        INNER JOIN ProjectDetails PD 
            ON PD.ProjectId = tl.ProjectId
        INNER JOIN AspNetUsers A 
            ON A.Id = tl.CreatedById AND A.Deleted <> 1
        INNER JOIN Employee e 
            ON e.PersonId = A.PersonId AND e.Deleted <> 1
        INNER JOIN WeekRange wr 
            ON t.TimesheetDate BETWEEN wr.TheFirstOfWeek AND wr.TheLastOfWeek
        WHERE (t.Deleted = 0 OR t.Deleted IS NULL)
          AND (
                @Employees IS NULL OR @Employees = ''
                OR e.Id IN (
                    SELECT TRY_CAST(value AS UNIQUEIDENTIFIER)
                    FROM STRING_SPLIT(@Employees, ',')
                )
          )
        GROUP BY 
            tl.ProjectId,
            PD.ProjectName,
            wr.TheFirstOfWeek,
            wr.TheLastOfWeek,
            PD.ProjectActiveStatusId,
            PD.ProjectActiveStatus,
            PD.ProjectStatusId,
            PD.ProjectPriorityId,
            PD.ProjectTypeId,
            PD.ProjectCategoryId,
            PD.ProjectSubcategoryId
    ),

    WeekSummary AS (
        SELECT
            ProjectId,
            ProjectName,
            ProjectActiveStatusId,
            ProjectStatusId,
            ProjectPriorityId,
            ProjectTypeId,
            ProjectCategoryId,
            ProjectSubcategoryId,
            FORMAT(TheFirstOfWeek, 'MM.dd.yy') + '-' + FORMAT(TheLastOfWeek, 'MM.dd.yy') AS WeekInterval,
            SUM(ISNULL(FilledHours, 0)) AS Hours
        FROM TimesheetDetails
        GROUP BY
            ProjectId,
            ProjectName,
            TheFirstOfWeek,
            TheLastOfWeek,
            ProjectActiveStatusId,
            ProjectStatusId,
            ProjectPriorityId,
            ProjectTypeId,
            ProjectCategoryId,
            ProjectSubcategoryId
    )

    /* Final Output */
    SELECT *
    FROM WeekSummary
    WHERE 
        (
            @Projects IS NULL OR @Projects = ''
            OR ProjectId IN (
                SELECT TRY_CAST(value AS UNIQUEIDENTIFIER)
                FROM STRING_SPLIT(@Projects, ',')
            )
        )
    ORDER BY ProjectName, WeekInterval;

END;
