USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Employee_Information]    Script Date: 12-06-2026 16:34:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sp_BI_Employee_Information]
 @Employee varchar(max)=null,
 @Status varchar(max)=null,
 @TypeName varchar(max)=null

AS
BEGIN
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SELECT 
    CONCAT(
    p.FirstName,
    CASE 
        WHEN p.MiddleName IS NOT NULL AND p.MiddleName <> '' THEN ' ' + p.MiddleName 
        ELSE '' 
    END,
    ' ',   
    p.LastName
) AS EmployeeName,
e.Id,
    e.EmployeeCode,
   et.StartDate AS StartDate,
    et.EndDate AS EndDate,
    ds.DropDownValue AS EmployeeStatusName,
    dt.DropDownValue AS EmployeeTypeName,
et.note
FROM Employee e
JOIN Person p 
    ON e.PersonId = p.Id
LEFT JOIN EmployeeStatus es 
    ON e.Id = es.EmployeeId
LEFT JOIN DropDown ds 
    ON es.EmployeeStatusId = ds.Id
LEFT JOIN EmployeeType et 
    ON e.Id = et.EmployeeId
LEFT JOIN DropDown dt 
    ON et.EmployeeTypeId = dt.Id
WHERE 
    (e.Deleted IS NULL OR e.Deleted = 0)
    and e.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
    AND (p.Deleted IS NULL OR p.Deleted = 0)
    AND (es.Deleted IS NULL OR es.Deleted = 0)
    AND (et.Deleted IS NULL OR et.Deleted = 0)
    AND (ds.Deleted IS NULL OR ds.Deleted = 0)
    AND (dt.Deleted IS NULL OR dt.Deleted = 0)


    -- Parameter filters:
  AND (
        @Employee IS NULL 
        OR @Employee = ''
        OR p.fIRSTNAME+' '+p.LASTNAME  IN (
                       SELECT LTRIM(RTRIM(value))
            FROM STRING_SPLIT(@Employee, ',')
        )
    )

-- Status Filter
AND (
        @Status IS NULL OR
        @Status = ''
        OR ds.DropDownValue IN (
            SELECT LTRIM(RTRIM(value))
            FROM STRING_SPLIT(@Status, ',')
        )
    )

-- Type Filter
AND (
        @TypeName IS NULL OR
        @TypeName = ''
        OR dt.DropDownValue IN (
            SELECT LTRIM(RTRIM(value))
            FROM STRING_SPLIT(@TypeName, ',')
        )
    )

--AND ( et.StartDate Between @StartDate AND @EndDate)

ORDER BY p.FirstName+' '+P.LastName;

END;
