USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Project_WeeklyPlan_WordCount]    Script Date: 12-06-2026 18:06:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[sp_BI_Project_WeeklyPlan_WordCount]
(
    @WeekStart DATE,

    @CustomerName NVARCHAR(MAX)=NULL,
    @Projects NVARCHAR(MAX)=NULL,
    @ProjectStatus NVARCHAR(MAX)=NULL,
    @ProjectType NVARCHAR(MAX)=NULL,
    @ProjectCategory NVARCHAR(MAX)=NULL,
    @ProjectPriority NVARCHAR(MAX)=NULL,
    @ProjectSubcategory NVARCHAR(MAX)=NULL
)
AS
BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SET DATEFIRST 1;

DECLARE @WeekEnd DATE = DATEADD(DAY,6,@WeekStart);

;WITH WeeksCTE AS (
    SELECT CAST(@WeekStart AS DATE) AS WeekStart
),

/* ================= ACTUAL WORD COUNT ================= */
ActualData AS (
    SELECT
        DATEADD(DAY,1-DATEPART(WEEKDAY,PWPD.WeekDate),CAST(PWPD.WeekDate AS DATE)) AS WeekStart,
        P.Id AS ProjectId,
        P.Name AS Project,
        CASE WHEN P.Active=1 THEN 1 ELSE 0 END AS StatusId,
        CASE WHEN P.Active=1 THEN 'Active' ELSE 'Inactive' END AS Status,

        SUM(
            CASE 
                WHEN ISNULL(LTRIM(RTRIM(PWPDL.ActualDescription)),'')='' THEN 0
                ELSE LEN(LTRIM(RTRIM(PWPDL.ActualDescription)))
                     - LEN(REPLACE(LTRIM(RTRIM(PWPDL.ActualDescription)),' ',''))
                     + 1
            END
        ) AS ActualWordCount

    FROM Projects P
    JOIN VW_CustomerProjectList CPL ON CPL.Id=P.Id
    JOIN Project_WeeklyPlan PW ON PW.ProjectId=P.Id
    JOIN Project_WeeklyPlan_Dates PWPD ON PWPD.ProjectWeeklyPlanId=PW.Id
    JOIN Project_WeeklyPlan_Dates_Lines PWPDL ON PWPDL.ProjectWeeklyPlanDatesId=PWPD.Id
    LEFT JOIN DropDown D ON D.Id=PWPD.PlanTypeId

    WHERE
        P.Deleted<>1
        AND PWPDL.Deleted<>1
        AND ISNULL(PWPDL.ActualDescription,'')<>''
        AND D.Id='1CFDEC9F-9C68-4E75-BC4E-E408C5918B1A'  --- Weekly Plan ID
        AND PWPD.WeekDate BETWEEN @WeekStart AND @WeekEnd
        AND P.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
        AND (@CustomerName IS NULL OR @CustomerName='' OR CPL.CustomerId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@CustomerName,',')))
        AND (@Projects IS NULL OR @Projects='' OR P.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
        AND (@ProjectStatus IS NULL OR @ProjectStatus='' OR P.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatus,',')))
        AND (@ProjectType IS NULL OR @ProjectType='' OR P.ProjectTypeId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectType,',')))
        AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR P.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))
        AND (@ProjectCategory IS NULL OR @ProjectCategory='' OR P.ProjectCategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectCategory,',')))
        AND (@ProjectSubcategory IS NULL OR @ProjectSubcategory='' OR P.ProjectSubcategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectSubcategory,',')))

    GROUP BY
        DATEADD(DAY,1-DATEPART(WEEKDAY,PWPD.WeekDate),CAST(PWPD.WeekDate AS DATE)),
        P.Id,P.Name,P.Active
),

/* ================= EXPECTED WORD COUNT ================= */
ExpectedData AS (
    SELECT
        DATEADD(DAY,1-DATEPART(WEEKDAY,PWPD.WeekDate),CAST(PWPD.WeekDate AS DATE)) AS WeekStart,
        P.Id AS ProjectId,
        P.Name AS Project,
        CASE WHEN P.Active=1 THEN 1 ELSE 0 END AS StatusId,
        CASE WHEN P.Active=1 THEN 'Active' ELSE 'Inactive' END AS Status,

        SUM(
            CASE 
                WHEN ISNULL(LTRIM(RTRIM(PWPDL.ExpectedDescription)),'')='' THEN 0
                ELSE LEN(LTRIM(RTRIM(PWPDL.ExpectedDescription)))
                     - LEN(REPLACE(LTRIM(RTRIM(PWPDL.ExpectedDescription)),' ',''))
                     + 1
            END
        ) AS ExpectedWordCount

    FROM Projects P
    JOIN VW_CustomerProjectList CPL ON CPL.Id=P.Id
    JOIN Project_WeeklyPlan PW ON PW.ProjectId=P.Id
    JOIN Project_WeeklyPlan_Dates PWPD ON PWPD.ProjectWeeklyPlanId=PW.Id
    JOIN Project_WeeklyPlan_Dates_Lines PWPDL ON PWPDL.ProjectWeeklyPlanDatesId=PWPD.Id
    LEFT JOIN DropDown D ON D.Id=PWPD.PlanTypeId

    WHERE
        P.Deleted<>1
        AND PWPDL.Deleted<>1
        AND ISNULL(PWPDL.ExpectedDescription,'')<>''
        AND D.Id='1CFDEC9F-9C68-4E75-BC4E-E408C5918B1A'
        AND PWPD.WeekDate BETWEEN @WeekStart AND @WeekEnd

        AND (@CustomerName IS NULL OR @CustomerName='' OR CPL.CustomerId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@CustomerName,',')))
        AND (@Projects IS NULL OR @Projects='' OR P.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
        AND (@ProjectStatus IS NULL OR @ProjectStatus='' OR P.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatus,',')))
        AND (@ProjectType IS NULL OR @ProjectType='' OR P.ProjectTypeId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectType,',')))
        AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR P.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))
        AND (@ProjectCategory IS NULL OR @ProjectCategory='' OR P.ProjectCategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectCategory,',')))
        AND (@ProjectSubcategory IS NULL OR @ProjectSubcategory='' OR P.ProjectSubcategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectSubcategory,',')))

    GROUP BY
        DATEADD(DAY,1-DATEPART(WEEKDAY,PWPD.WeekDate),CAST(PWPD.WeekDate AS DATE)),
        P.Id,P.Name,P.Active
),

AllProjects AS (
    SELECT DISTINCT ProjectId,Project,StatusId,Status FROM ActualData
    UNION
    SELECT DISTINCT ProjectId,Project,StatusId,Status FROM ExpectedData
)

SELECT
    W.WeekStart AS [Date],
    P.ProjectId,
    P.Project,
    P.StatusId,
    P.Status,
    ISNULL(E.ExpectedWordCount,0) AS ExpectedWordCount,
    ISNULL(A.ActualWordCount,0) AS ActualWordCount
FROM WeeksCTE W
CROSS JOIN AllProjects P
LEFT JOIN ActualData A ON A.WeekStart=W.WeekStart AND A.ProjectId=P.ProjectId
LEFT JOIN ExpectedData E ON E.WeekStart=W.WeekStart AND E.ProjectId=P.ProjectId
ORDER BY P.Project;

END
