USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Project_TimesheetDetails]    Script Date: 12-06-2026 16:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER Procedure [dbo].[sp_BI_Project_TimesheetDetails]
(
    @FromDate DATE= NULL,
    @ToDate DATE = NULL,
    @Projects NVARCHAR(MAX)=NULL
    
)
AS
BEGIN

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SELECT 
    FORMAT(t.TimesheetDate, 'MM/dd/yyyy') AS [Date],  
    FORMAT(DATEADD(DAY, 1, dd.TheLastOfWeek), 'MM/dd/yyyy') AS WeekEnding, 
    tl.ProjectId AS ProjectId,
    p.[Name] AS Project,
    tl.[Description] AS ActivityDetails,
    e.Id AS EmployeeId,
    Per.FirstName + ' ' + Per.LastName AS [Resource],
    tl.[Hours] AS ActualHours,
    tl.ProjectModuleId AS ModuleId,
    pm.Name AS Module,
    tl.ProjectTaskId AS TaskId,
    pt.Name AS Task,
    pt.Name AS WorkType

FROM Timesheet t
inner JOIN TimesheetLines tl ON t.Id = tl.TimesheetId
inner JOIN Projects p ON tl.ProjectId = p.Id
LEFT JOIN AspNetUsers anu ON tl.CreatedById = anu.Id
LEFT JOIN Person Per ON anu.PersonId = Per.Id
LEFT JOIN Employee e ON e.PersonId = Per.Id AND (e.Deleted IS NULL OR e.Deleted = 0)
LEFT JOIN ProjectModules pm on pm.Id=tl.ProjectModuleId
LEFT JOIN ProjectTasks pt ON tl.ProjectTaskId = pt.Id
LEFT JOIN Project_Employee_Mapping pem ON pem.ProjectId = tl.ProjectId AND pem.EmployeeId = e.Id AND (pem.Deleted = 0 OR pem.Deleted IS NULL)
LEFT JOIN [DimDate] dd ON t.TimesheetDate = dd.TheDate

where
 t.TimesheetDate BETWEEN @FromDate AND @ToDate
AND t.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
  and (t.Deleted = 0 OR t.Deleted IS NULL)
 AND (tl.Deleted = 0 OR tl.Deleted IS NULL)
  AND (@Projects IS NULL OR @Projects='' OR tl.ProjectId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
       

ORDER BY t.TimesheetDate ASC;
end;


-- FILE: sp_BI_Employee_DeviceAllocation.sql
