USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Project_WeeklyPlan_DataQualityCheck]    Script Date: 12-06-2026 16:47:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sp_BI_Project_WeeklyPlan_DataQualityCheck]
(
@year INT = NULL, 
@Month INT = null,
@CustomerName VARCHAR(MAX)= NULL,
@Projects VARCHAR(MAX)= NULL,
@ProjectStatus VARCHAR(MAX)= NULL,
@ProjectType VARCHAR(MAX)= NULL,
@ProjectPriority VARCHAR(MAX)= NULL,
@ProjectCategory VARCHAR(MAX)= NULL,
@ProjectSubcategory VARCHAR(MAX)= NULL
)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
WITH AllWeekDates AS (
    SELECT DISTINCT
        PWPD.WeekDate
    FROM Project_WeeklyPlan_Dates PWPD
    WHERE PWPD.Deleted != 1
      AND PWPD.PlanTypeId = '1CFDEC9F-9C68-4E75-BC4E-E408C5918B1A'---Weekly Plan ID
      AND YEAR(PWPD.WeekDate) = @Year
      AND MONTH(PWPD.WeekDate) = @Month
),
 
AllProjects AS (
    SELECT 
        P.Id AS ProjectId,
        P.Name AS ProjectName,
        P.Active,
        CPL.CustomerId,
        CPL.CustomerName,
        ISNULL(PT.DropDownValue, '') AS ProjectType,
        ISNULL(DDT.Type, '') AS ProjectCategory,
        ISNULL(PSC.DropDownValue, '') AS ProjectSubcategory,
        ISNULL(SDD.DropDownValue, '') AS ProjectStatus,
        ISNULL(PDD.DropDownValue, '') AS ProjectPriority
    FROM Projects P
    INNER JOIN VW_CustomerProjectList CPL ON CPL.Id = P.Id
    LEFT JOIN DropDown SDD ON SDD.Id = P.ProjectStatusId
    LEFT JOIN DropDown PDD ON PDD.Id = P.ProjectPriorityId
    LEFT JOIN DropDown PT ON PT.Id = P.ProjectTypeId
    LEFT JOIN DropDownType DDT ON DDT.Id = P.ProjectCategoryId
    LEFT JOIN DropDown PSC ON PSC.Id = P.ProjectSubcategoryId
    WHERE P.Deleted != 1 AND P.Active=1
	AND P.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID	     
    AND (@CustomerName IS NULL OR @CustomerName='' OR CPL.CustomerId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@CustomerName,',')))
    AND (@Projects IS NULL OR @Projects='' OR P.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
    AND (@ProjectStatus IS NULL OR @ProjectStatus='' OR P.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatus,',')))
    AND (@ProjectType IS NULL OR @ProjectType='' OR P.ProjectTypeId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectType,',')))
    AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR P.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))
    AND (@ProjectCategory IS NULL OR @ProjectCategory='' OR P.ProjectCategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectCategory,',')))
    AND (@ProjectSubcategory IS NULL OR @ProjectSubcategory='' OR P.ProjectSubcategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectSubcategory,',')))
),
ProjectWeekCross AS (
    SELECT 
        wd.WeekDate,
        ap.*
    FROM AllWeekDates wd
    CROSS JOIN AllProjects ap
),
FinalData AS (
    SELECT 
        pwc.WeekDate,
        YEAR(pwc.WeekDate) AS Year,
        MONTH(pwc.WeekDate) AS Month,
        DATENAME(MONTH, pwc.WeekDate) AS MonthName,
        pwc.ProjectId,
        pwc.ProjectName,
        CASE WHEN pwc.Active = 1 THEN 1 ELSE 0 END AS ActiveStatusId,
        CASE WHEN pwc.Active = 1 THEN 'Active' ELSE 'Inactive' END AS ActiveStatus,
        pwc.CustomerId,
        pwc.CustomerName,
        CASE 
            WHEN sml.ColumnValue = 'On Hold' AND (descCheck.HasDescription = 0 OR descCheck.HasDescription IS NULL)
            THEN 'On Hold'
            WHEN descCheck.HasPlanned = 1 THEN 'Yes'
            ELSE 'No'
        END AS IsPlannedFilled,
        CASE 
            WHEN sml.ColumnValue = 'On Hold' AND (descCheck.HasDescription = 0 OR descCheck.HasDescription IS NULL)
            THEN 'On Hold'
            WHEN descCheck.HasActual = 1 THEN 'Yes'
            ELSE 'No'
        END AS IsActualFilled,
        pwc.ProjectType,
        pwc.ProjectCategory,
        pwc.ProjectSubcategory,
        pwc.ProjectStatus,
        pwc.ProjectPriority,
        CASE 
            WHEN sml.ColumnValue IS NULL THEN pwc.ProjectStatus
            ELSE sml.ColumnValue
        END AS modifiedstatus
    FROM ProjectWeekCross pwc
    LEFT JOIN Project_WeeklyPlan PW 
        ON PW.ProjectId = pwc.ProjectId AND PW.Deleted != 1
    LEFT JOIN Project_WeeklyPlan_Dates PWPD 
        ON PWPD.ProjectWeeklyPlanId = PW.Id 
        AND PWPD.WeekDate = pwc.WeekDate AND PWPD.Deleted != 1
    OUTER APPLY (
        SELECT 
            MAX(CASE WHEN LTRIM(RTRIM(PWPDL.ExpectedDescription)) <> '' THEN 1 ELSE 0 END) AS HasPlanned,
            MAX(CASE WHEN LTRIM(RTRIM(PWPDL.ActualDescription)) <> '' THEN 1 ELSE 0 END) AS HasActual,
            MAX(CASE 
                    WHEN LTRIM(RTRIM(PWPDL.ExpectedDescription)) <> '' OR 
                         LTRIM(RTRIM(PWPDL.ActualDescription)) <> '' 
                    THEN 1 ELSE 0 
                END) AS HasDescription
        FROM Project_WeeklyPlan_Dates_Lines PWPDL
        WHERE PWPDL.ProjectWeeklyPlanDatesId = PWPD.Id AND PWPDL.Deleted != 1
    ) descCheck
    OUTER APPLY (
        SELECT TOP 1 sml.ColumnValue
        FROM SitesModifiedLogs sml
        WHERE sml.Module = pwc.ProjectName
          AND sml.Deleted != 1
          AND sml.TableName = 'Projects' 
          AND sml.ColumnName = 'Project Status'
          AND sml.LastModifiedOnUTC <= pwc.WeekDate
        ORDER BY sml.LastModifiedOnUTC DESC
    ) sml
)
SELECT DISTINCT *
FROM FinalData
WHERE modifiedstatus <> ''
ORDER BY WeekDate DESC, ProjectName;
END;
