USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_TimesheetLines_Details]    Script Date: 12-06-2026 18:09:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sp_BI_TimesheetLines_Details]
(
@FromDate DATE = NULL,
@ToDate DATE = NULL,
@ProjectPriority VARCHAR(MAX) = NULL,
@ActivityName VARCHAR(MAX) = NULL,
@Customer VARCHAR(MAX) = NULL,
@ProjectStatusParam VARCHAR(MAX) = NULL,
@ActivityStatusParam VARCHAR(MAX) = NULL,
@EmployeeName VARCHAR(MAX) = NULL,
@ProjectTasks VARCHAR(MAX) = NULL,
@ProjectModules VARCHAR(MAX) = NULL,
@Projects VARCHAR(MAX) = NULL
)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SELECT 
    FORMAT(t.TimesheetDate, 'MM/dd/yyyy') AS [Date],  
    FORMAT(DATEADD(DAY, 1, dd.TheLastOfWeek), 'MM/dd/yyyy') AS WeekEnding, 
    tl.ProjectId AS ProjectId,
    p.[Name] AS Project,   
    tl.ProjectModuleId AS ProjectModuleId,
    pm.[Name] AS ProjectModule,
    tl.ProjectTaskId AS TaskId,
    pt.[Name] AS Task,
    tl.ProjectActivityId AS ProjectActivityId,
    pa.[Name] AS Activity,
    tl.Description AS ActivityDetails,
    e.Id AS EmployeeId,
    Per.FirstName + ' ' + Per.LastName AS [Resource],
    tl.[Hours] AS ActualHours,
    tl.BillableHours AS BillableHours,
    
    pt.StartDate AS [Activity Start Date],
    pt.EndDate AS [Activity End Date],
    ddStatus.DropDownValue AS [Activity Status]

FROM Timesheet t
INNER JOIN TimesheetLines tl ON (t.Id = tl.TimesheetId)

INNER JOIN Projects p ON tl.ProjectId = p.Id
INNER JOIN ProjectModules pm ON tl.ProjectModuleId = pm.Id
INNER JOIN ProjectTasks pt ON tl.ProjectTaskId = pt.Id
INNER JOIN ProjectActivities pa ON tl.ProjectActivityId = pa.Id
INNER JOIN [DimDate] dd ON t.TimesheetDate = dd.TheDate
INNER JOIN AspNetUsers anu ON tl.CreatedById = anu.Id
INNER JOIN Person Per ON anu.PersonId = Per.Id
INNER JOIN Employee e ON (e.PersonId = Per.Id AND (e.Deleted IS NULL OR e.Deleted = 0))

-- New join for Activity Status
INNER JOIN DropDown ddStatus ON ddStatus.Id = pa.ActivityStatusId

-- Existing mapping from Activity Status Report
INNER JOIN VW_CustomerProjectList CPL WITH (FORCESEEK) ON CPL.Id = p.Id

WHERE 
    
    (t.TimesheetDate BETWEEN @FromDate AND @ToDate) 
    AND (t.Deleted = 0 OR t.Deleted IS NULL) 
    AND (tl.Deleted = 0 OR tl.Deleted IS NULL)
     AND p.siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' ---Vsky SITE-ID

     ---PARAMETERS
     AND (@Projects IS NULL OR @Projects='' OR tl.ProjectId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
        
    AND (@ProjectModules IS NULL OR @ProjectModules='' OR tl.ProjectModuleId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectModules,',')))    
      
    AND (@EmployeeName IS NULL OR @EmployeeName='' OR e.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@EmployeeName,',')))
   AND (
      @ActivityName IS NULL 
      OR @ActivityName = ''
      OR pa.Name IN (
            SELECT value 
            FROM STRING_SPLIT(@ActivityName, ',')
      )
)
     

    AND e.Active = 1 
    AND pa.ActivityStatusId IS NOT NULL
   AND (@ActivityStatusParam IS NULL OR @ActivityStatusParam='' OR pa.ActivityStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ActivityStatusParam,',')))    
      
  

  
   AND (@ProjectStatusParam IS NULL OR @ProjectStatusParam='' OR p.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatusParam,',')))    
   -- AND (CASE WHEN p.Active = 1 THEN 1 ELSE 0 END) IN (@Status)
   AND (@Customer IS NULL OR @Customer='' OR CPL.CustomerId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Customer,',')))    
  
    
  
   AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR p.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))    

   
ORDER BY t.TimesheetDate ASC;

end;
