USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Project_DailyStatus]    Script Date: 12-06-2026 16:43:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sp_BI_Project_DailyStatus]
(
@FromDate DATE = NULL,
@ToDate DATE = NULL
)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
    select 
	[Date],
	ProjectId,
	ProjectName,
	ProjectModuleId,
	ProjectModuleName,
	TaskId,
	ProjectTaskName,
	ConcatenatedDP,
    ConcatenatedTS
from [dbo].[ViewDailyProjectStatusReport]
    WHERE [Date] BETWEEN @FromDate AND @ToDate
	END;
