USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Timesheet_MissedEntries]    Script Date: 12-06-2026 18:08:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_BI_Timesheet_MissedEntries]
    @FromDate DATE = NULL,
    @ToDate   DATE = NULL
AS
BEGIN

SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

WITH EmployeeDetails AS (
    SELECT distinct
        E.Id AS EmployeeId,
        a.Id AS AspNetUserId,
        P.FirstName+' '+ P.LastName AS EmployeeName
    FROM Employee e
     JOIN EmployeeStatus es ON e.Id = es.EmployeeId
     JOIN Dropdown dd ON dd.Id = es.EmployeeStatusId
     JOIN Employeetype et ON e.Id = et.EmployeeId
     JOIN Dropdown emptype ON emptype.Id = et.EmployeetypeId
     JOIN Person p ON e.PersonId = p.Id
     JOIN AspNetUsers a ON a.PersonId = p.Id
    WHERE e.siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' ---VSKY SITE-ID
      AND emptype.DropdownValue not in ('On Contract', 'Consultant','Close')
      AND dd.dropdownvalue = 'Current'
      AND e.Deleted != 1
      AND e.active = 1
      AND e.id NOT IN ('1376F665-F831-4A7E-8502-6A6D0DBE01B4',----Sandhya Hawaldar
                       '50d748b8-5e03-4f14-ba6b-f4fadfaafea1',---- Vamshi Saliganthi
                       'b229cdc9-f65e-45bb-875f-80eefc42c183', ---- Test User
                       '7811b86a-2980-42b0-9623-3a9e2299505b' ---- Harichandana Meda
                       )
),

TimesheetDetail AS (
    SELECT
        t.CreatedById AS TimesheetById,
        t.TimesheetDate AS TimesheetDate,
        SUM(tl.[Hours]) AS FilledHours
    FROM Timesheet t
    INNER JOIN TimesheetLines tl ON t.Id = tl.TimesheetId
    WHERE t.TimesheetDate BETWEEN CAST(@FromDate AS DATE)
                              AND CAST(@ToDate AS DATE)
      AND t.Deleted != 1
      AND tl.Deleted != 1
    GROUP BY t.TimesheetDate, t.CreatedById
),
DateRange AS (
    SELECT CAST(@FromDate AS DATE) AS DateValue
    UNION ALL
    SELECT CAST(DATEADD(DAY, 1, DateValue) AS DATE)
    FROM DateRange
    WHERE DATEADD(DAY, 1, DateValue) <= @ToDate
),
EmployeeDateRange AS (
    SELECT 
        ed.EmployeeId,
        ed.EmployeeName,
        ed.AspNetUserId AS AspnetuserId,
        dr.DateValue
    FROM EmployeeDetails ed
    CROSS JOIN DateRange dr
),
EmployeeStatusCheck AS (
    SELECT 
        edr.EmployeeId,
        edr.EmployeeName,
        edr.AspnetuserId,
        edr.DateValue,
        ISNULL(td.FilledHours, 0) AS FilledHours
    FROM EmployeeDateRange edr
    LEFT JOIN TimesheetDetail td 
        ON td.TimesheetById = edr.AspnetuserId
       AND td.TimesheetDate = edr.DateValue
),
MissedDates AS (
    SELECT 
        esc.EmployeeId,
        esc.EmployeeName,
        esc.DateValue
    FROM EmployeeStatusCheck esc
    LEFT JOIN EmployeeLeave el
        ON el.EmployeeId = esc.EmployeeId
       AND esc.DateValue BETWEEN CAST(el.FromDate AS DATE)
                             AND CAST(el.ToDate AS DATE)
    WHERE esc.FilledHours = 0
      AND esc.DateValue NOT IN (SELECT ls.Date FROM leaveschedule ls)
      AND DATENAME(weekday, esc.DateValue) <> 'Sunday'
      AND el.EmployeeId IS NULL
),
MissedCount AS (
    SELECT 
        EmployeeId,
        EmployeeName,
        COUNT(*) AS MissedDays
    FROM MissedDates
    GROUP BY EmployeeId, EmployeeName
)
SELECT 
    md.EmployeeId,
    md.EmployeeName,
    md.DateValue,
    mc.MissedDays
FROM MissedDates md
JOIN MissedCount mc 
    ON mc.EmployeeId = md.EmployeeId
ORDER BY md.EmployeeName ASC
OPTION (MAXRECURSION 0);

END
