USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Project_MonthlyPlan]    Script Date: 12-06-2026 16:44:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_BI_Project_MonthlyPlan]
(
    @FromDate DATE,
    @ToDate DATE,
    @CustomerName NVARCHAR(MAX)=NULL,
    @Projects NVARCHAR(MAX)=NULL,
    @ProjectStatus NVARCHAR(MAX)=NULL,
    @ProjectType NVARCHAR(MAX)=NULL,
    @ProjectCategory NVARCHAR(MAX)=NULL,
    @ProjectPriority NVARCHAR(MAX)=NULL,
    @ProjectSubcategory NVARCHAR(MAX)=NULL
)
AS
BEGIN
SET NOCOUNT ON;
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

--================ MONTH GENERATOR =================
;WITH MonthsCTE AS (
    SELECT DATEADD(MONTH,DATEDIFF(MONTH,0,@FromDate),0) MonthStart
    UNION ALL
    SELECT DATEADD(MONTH,1,MonthStart)
    FROM MonthsCTE
    WHERE MonthStart < DATEADD(MONTH,DATEDIFF(MONTH,0,@ToDate),0)
),

--================ ACTUAL DATA =================
ActualData AS (
SELECT 
    DATEADD(MONTH,DATEDIFF(MONTH,0,PWPD.WeekDate),0) MonthStart,
    P.Id ProjectId,
    P.Name Project,
    CASE WHEN P.Active=1 THEN 1 ELSE 0 END StatusId,
    CASE WHEN P.Active=1 THEN 'Active' ELSE 'Inactive' END Status,
    STRING_AGG(PWPDL.ActualDescription,CHAR(13)+CHAR(10)) ActualDescription
FROM Projects P
JOIN VW_CustomerProjectList CPL ON CPL.Id=P.Id
JOIN Project_WeeklyPlan PW ON PW.ProjectId=P.Id
JOIN Project_WeeklyPlan_Dates PWPD ON PWPD.ProjectWeeklyPlanId=PW.Id
JOIN Project_WeeklyPlan_Dates_Lines PWPDL ON PWPDL.ProjectWeeklyPlanDatesId=PWPD.Id
LEFT JOIN DropDown D ON D.Id=PWPD.PlanTypeId
WHERE
    P.Deleted<>1
    AND PWPDL.Deleted<>1
    AND PWPDL.ActualDescription<>''
    AND D.Id='A2F7DA83-A804-4ACE-914D-F0B6E9F63A39'
    AND PWPD.WeekDate BETWEEN @FromDate AND @ToDate

    -- MULTI SELECT FILTERS
    AND (@CustomerName IS NULL OR @CustomerName='' OR CPL.CustomerId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@CustomerName,',')))
    AND (@Projects IS NULL OR @Projects='' OR P.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
    AND (@ProjectStatus IS NULL OR @ProjectStatus='' OR P.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatus,',')))
    AND (@ProjectType IS NULL OR @ProjectType='' OR P.ProjectTypeId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectType,',')))
    AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR P.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))
    AND (@ProjectCategory IS NULL OR @ProjectCategory='' OR P.ProjectCategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectCategory,',')))
    AND (@ProjectSubcategory IS NULL OR @ProjectSubcategory='' OR P.ProjectSubcategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectSubcategory,',')))

GROUP BY DATEADD(MONTH,DATEDIFF(MONTH,0,PWPD.WeekDate),0),P.Id,P.Name,P.Active
),

--================ EXPECTED DATA =================
ExpectedData AS (
SELECT 
    DATEADD(MONTH,DATEDIFF(MONTH,0,PWPD.WeekDate),0) MonthStart,
    P.Id ProjectId,
    P.Name Project,
    CASE WHEN P.Active=1 THEN 1 ELSE 0 END StatusId,
    CASE WHEN P.Active=1 THEN 'Active' ELSE 'Inactive' END Status,
    STRING_AGG(PWPDL.ExpectedDescription,CHAR(13)+CHAR(10)) ExpectedDescription
FROM Projects P
JOIN VW_CustomerProjectList CPL ON CPL.Id=P.Id
JOIN Project_WeeklyPlan PW ON PW.ProjectId=P.Id
JOIN Project_WeeklyPlan_Dates PWPD ON PWPD.ProjectWeeklyPlanId=PW.Id
JOIN Project_WeeklyPlan_Dates_Lines PWPDL ON PWPDL.ProjectWeeklyPlanDatesId=PWPD.Id
LEFT JOIN DropDown D ON D.Id=PWPD.PlanTypeId
WHERE
    P.Deleted<>1
    AND PWPDL.Deleted<>1
    AND PWPDL.ExpectedDescription<>''
    AND D.Id='A2F7DA83-A804-4ACE-914D-F0B6E9F63A39' -- Monthly Plan ID
    AND P.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
    AND PWPD.WeekDate BETWEEN @FromDate AND @ToDate

    -- SAME FILTERS
    AND (@CustomerName IS NULL OR @CustomerName='' OR CPL.CustomerId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@CustomerName,',')))
    AND (@Projects IS NULL OR @Projects='' OR P.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
    AND (@ProjectStatus IS NULL OR @ProjectStatus='' OR P.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatus,',')))
    AND (@ProjectType IS NULL OR @ProjectType='' OR P.ProjectTypeId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectType,',')))
    AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR P.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))
    AND (@ProjectCategory IS NULL OR @ProjectCategory='' OR P.ProjectCategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectCategory,',')))
    AND (@ProjectSubcategory IS NULL OR @ProjectSubcategory='' OR P.ProjectSubcategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectSubcategory,',')))

GROUP BY DATEADD(MONTH,DATEDIFF(MONTH,0,PWPD.WeekDate),0),P.Id,P.Name,P.Active
),

AllProjects AS (
SELECT DISTINCT ProjectId,Project,StatusId,Status FROM ActualData
UNION
SELECT DISTINCT ProjectId,Project,StatusId,Status FROM ExpectedData
)

SELECT
    M.MonthStart AS [Date],
    FORMAT(M.MonthStart,'MMMM yyyy') MonthName,
    P.ProjectId,
    P.Project,
    P.StatusId,
    P.Status,
    ISNULL(A.ActualDescription,' ') ActualDescription,
    ISNULL(E.ExpectedDescription,' ') ExpectedDescription
FROM MonthsCTE M
CROSS JOIN AllProjects P
LEFT JOIN ActualData A ON A.MonthStart=M.MonthStart AND A.ProjectId=P.ProjectId
LEFT JOIN ExpectedData E ON E.MonthStart=M.MonthStart AND E.ProjectId=P.ProjectId
ORDER BY M.MonthStart,P.ProjectId
OPTION (MAXRECURSION 0);

END;
