USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Project_MonthlyPlan_DataQualityCheck]    Script Date: 12-06-2026 16:45:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sp_BI_Project_MonthlyPlan_DataQualityCheck]
(
@year INT = NULL, 
@Month INT = null,
@CustomerName VARCHAR(MAX)= NULL,
@Projects VARCHAR(MAX)= NULL,
@ProjectStatus VARCHAR(MAX)= NULL,
@ProjectType VARCHAR(MAX)= NULL,
@ProjectPriority VARCHAR(MAX)= NULL,
@ProjectCategory VARCHAR(MAX)= NULL,
@ProjectSubcategory VARCHAR(MAX)= NULL
)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SELECT 
    YEAR(PWPD.WeekDate) AS Year,
    MONTH(PWPD.WeekDate) AS Month,
    DATENAME(MONTH, PWPD.WeekDate) AS MonthName,
    P.Id AS ProjectId,
    P.Name AS ProjectName,
    CASE WHEN P.Active = 1 THEN 1 ELSE 0 END AS ActiveStatusId,
    CASE WHEN P.Active = 1 THEN 'Active' ELSE 'Inactive' END AS ActiveStatus,
    CPL.CustomerId,
    CPL.CustomerName,
    CASE 
        WHEN COUNT(NULLIF(LTRIM(RTRIM(PWPDL.ExpectedDescription)), '')) > 0 THEN 'Yes' 
        ELSE 'No' 
    END AS IsPlannedFilled,
    CASE 
        WHEN COUNT(NULLIF(LTRIM(RTRIM(PWPDL.ActualDescription)), '')) > 0 THEN 'Yes' 
        ELSE 'No' 
    END AS IsActualFilled,
    ISNULL(PT.DropDownValue, 'Not Available') AS ProjectType,
    ISNULL(PC.DropDownValue, 'Not Available') AS ProjectCategory,
    ISNULL(PSC.DropDownValue, 'Not Available') AS ProjectSubcategory,
    ISNULL(SDD.DropDownValue, 'Not Available') AS ProjectStatus,
    ISNULL(PDD.DropDownValue, 'Not Available') AS ProjectPriority,
    l.ColumnValue
FROM Projects P
INNER JOIN VW_CustomerProjectList CPL ON CPL.Id = P.Id
INNER JOIN Project_WeeklyPlan PW ON PW.ProjectId = P.Id AND PW.Deleted != 1
INNER JOIN Project_WeeklyPlan_Dates PWPD ON PWPD.ProjectWeeklyPlanId = PW.Id AND PWPD.Deleted != 1
INNER JOIN Project_WeeklyPlan_Dates_Lines PWPDL ON PWPDL.ProjectWeeklyPlanDatesId = PWPD.Id AND PWPDL.Deleted != 1
LEFT JOIN DropDown D ON D.Id = PWPD.PlanTypeId
LEFT JOIN DropDown SDD ON SDD.Id = P.ProjectStatusId
LEFT JOIN DropDown PDD ON PDD.Id = P.ProjectPriorityId
LEFT JOIN DropDown PT ON PT.Id = P.ProjectTypeId
LEFT JOIN DropDown PC ON PC.Id = P.ProjectCategoryId
LEFT JOIN DropDown PSC ON PSC.Id = P.ProjectSubcategoryId
OUTER APPLY (
    SELECT TOP 1 sml.ColumnValue
    FROM SitesModifiedLogs sml
    WHERE sml.Module = P.Name 
      AND sml.Deleted != 1
      AND sml.TableName = 'Projects' 
      AND sml.ColumnName = 'Project Status'
      AND sml.LastModifiedOnUTC BETWEEN DATEADD(DAY, -30, PWPD.WeekDate) AND PWPD.WeekDate
    ORDER BY sml.LastModifiedOnUTC DESC
) l
WHERE 
    P.Deleted != 1
    AND PWPD.PlanTypeId = 'A2F7DA83-A804-4ACE-914D-F0B6E9F63A39' ---MonthlyPlan ID
    AND P.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
    AND YEAR(PWPD.WeekDate) = @Year
    AND MONTH(PWPD.WeekDate) IN (@Month) 
    AND (@CustomerName IS NULL OR @CustomerName='' OR CPL.CustomerId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@CustomerName,',')))
    AND (@Projects IS NULL OR @Projects='' OR P.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
    AND (@ProjectStatus IS NULL OR @ProjectStatus='' OR P.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatus,',')))
    AND (@ProjectType IS NULL OR @ProjectType='' OR P.ProjectTypeId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectType,',')))
    AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR P.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))
    AND (@ProjectCategory IS NULL OR @ProjectCategory='' OR P.ProjectCategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectCategory,',')))
    AND (@ProjectSubcategory IS NULL OR @ProjectSubcategory='' OR P.ProjectSubcategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectSubcategory,',')))

GROUP BY 
    YEAR(PWPD.WeekDate),
    MONTH(PWPD.WeekDate),
    DATENAME(MONTH, PWPD.WeekDate),
    P.Id,
    P.Name,
    P.Active,
    CPL.CustomerId,
    CPL.CustomerName,
    PT.DropDownValue,
    PC.DropDownValue,
    PSC.DropDownValue,
    SDD.DropDownValue,
    PDD.DropDownValue,
    l.ColumnValue

    END;
