USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Employee_DeviceAllocation]    Script Date: 12-06-2026 16:18:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[sp_BI_Employee_DeviceAllocation]
(
@FromDate DATE= NULL,
@ToDate DATE= NULL,
@EmployeeName VARCHAR(MAX) = NULL,
@EmployeeStatus VARCHAR(MAX) = NULL,
@Devices VARCHAR(MAX) = NULL
)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SELECT  
    CONCAT(
        p.FirstName, 
        CASE 
            WHEN p.MiddleName IS NOT NULL AND p.MiddleName <> '' THEN ' ' + p.MiddleName 
            ELSE '' 
        END, 
        ' ', 
        p.LastName
    ) AS EmployeeName, 
    it.Name AS DeviceName,
    i.InventoryCode AS DeviceID,  
    i.ModelNameORNumber as 'Model Name/Number',
    ia.AssignDate AS IssueDate,  
    ia.ReturnDate AS ReturnDate ,
    
    -- FINAL RETURN DATE LOGIC
   CASE
     -- Case 1: Has an actual return date
     WHEN ia.ReturnDate IS NOT NULL THEN ia.ReturnDate

     -- Case 2: Device WAS reassigned ? next issue date becomes return date
     WHEN EXISTS (
         SELECT 1 
         FROM InventoryAssignment i2
         WHERE i2.InventoryId = ia.InventoryId
           AND i2.AssignDate > ia.AssignDate
     ) THEN (
         SELECT MIN(i2.AssignDate)
         FROM InventoryAssignment i2
         WHERE i2.InventoryId = ia.InventoryId
           AND i2.AssignDate > ia.AssignDate
     )

     -- Case 3: NOT reassigned ? placeholder or NULL based on status  
   WHEN dd.Dropdownvalue IN ('Available','Damaged')
    THEN DATEADD(MONTH, 1, ia.AssignDate)


     
     -- (Optional safety fallback)
     ELSE NULL
END AS NewReturnDate,
    dd.Dropdownvalue as InventoryStatus
FROM Inventory i
LEFT JOIN InventoryAssignment ia ON i.Id = ia.InventoryId
LEFT JOIN InventoryItemType it ON i.ItemTypeId = it.Id
LEFT JOIN Employee e ON ia.EmployeeId = e.Id
LEFT JOIN Person p ON e.PersonId = p.Id
LEFT JOIN DropDown dd on i.InventoryStatusId = dd.id
LEFT JOIN DropDownType ddt on dd.dropDownTypeId = ddt.id
WHERE p.FirstName IS NOT NULL 
  AND p.LastName IS NOT NULL
  AND dd.Dropdownvalue in('Assigned','In Working')
  and i.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
  AND (
     CASE
         WHEN ia.ReturnDate IS NOT NULL THEN ia.ReturnDate
         WHEN EXISTS (
             SELECT 1
             FROM InventoryAssignment i2
             JOIN Employee e2 ON i2.EmployeeId = e2.Id
         WHERE i2.InventoryId = ia.InventoryId
           AND i2.AssignDate > ia.AssignDate
           AND e2.Active = 1
         ) THEN (
             SELECT MIN(i2.AssignDate)
             FROM InventoryAssignment i2
                JOIN Employee e2 ON i2.EmployeeId = e2.Id
         WHERE i2.InventoryId = ia.InventoryId
           AND i2.AssignDate > ia.AssignDate
           AND e2.Active = 1
         )
         ELSE NULL
     END
 ) IS NULL
AND i.Deleted=0
AND ia.Deleted = 0 
 AND (@EmployeeName is null
 OR @EmployeeName =''
 OR e.id IN (SELECT TRY_CAST(VALUE AS uniqueidentifier) FROM string_split(@EmployeeName,','))
 )
  AND (@Devices is null
 OR @Devices =''
 OR it.id IN (SELECT TRY_CAST(VALUE AS uniqueidentifier) FROM string_split(@Devices,','))
 )
--AND i.InventoryStatusId in (@InventoryStatus)
AND ia.AssignDate between @FromDate and @ToDate
AND (@EmployeeStatus is null
 OR @EmployeeStatus =''
 OR e.Active IN (SELECT TRY_CAST(VALUE AS bit) FROM string_split(@EmployeeStatus,','))
 )
END;
