USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Project_Bugs]    Script Date: 12-06-2026 16:41:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER procedure [dbo].[sp_BI_Project_Bugs]
(
@FromDate DATE = NULL,
@ToDate DATE = NULL,
@ProjectCategory Varchar(max)=NULL,
@ProjectSubCategory Varchar(max)=NULL,
@ProjectModules Varchar(max)=NULL,
@ProjectStatus Varchar(max)=NULL,
@ProjectType Varchar(max)=NULL,
@ProjectPriority Varchar(max)=NULL
)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
WITH WeeksCTE AS (
    SELECT DATEADD(WEEK, DATEDIFF(WEEK, 0, @FromDate), 0) AS WeekStart
    UNION ALL
    SELECT DATEADD(WEEK, 1, WeekStart)
    FROM WeeksCTE
    WHERE DATEADD(DAY, 6, WeekStart) < @ToDate
),
ProjectsCTE AS (
    SELECT 
        P.Id AS ProjectId,
        P.Name AS ProjectName,
        PM.Id AS ProjectModuleId,
        ISNULL(PM.Name, 'NA') AS ProjectModuleName,
        CASE WHEN P.Active = 1 THEN 1 ELSE 0 END AS StatusId,
        CASE WHEN P.Active = 1 THEN 'Active' ELSE 'Inactive' END AS Status
    FROM Projects P
    INNER JOIN VW_CustomerProjectList CPL ON CPL.Id = P.Id
    LEFT JOIN ProjectModules PM ON PM.ProjectId = P.Id AND PM.Deleted != 1
LEFT JOIN DropDown SDD ON SDD.Id = P.ProjectStatusId
LEFT JOIN DropDown DPT ON DPT.Id = P.ProjectTypeId
LEFT JOIN DropDown DPP ON DPP.Id = P.ProjectPriorityId
LEFT JOIN DropDownType DDT ON DDT.Id = P.ProjectCategoryId
LEFT JOIN DropDown PSC ON PSC.Id = P.ProjectSubcategoryId
    WHERE 
    P.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
    AND (@ProjectModules IS NULL OR @ProjectModules='' OR Pm.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectModules,',')))
    AND (@ProjectStatus IS NULL OR @ProjectStatus='' OR P.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatus,',')))
    AND (@ProjectType IS NULL OR @ProjectType='' OR P.ProjectTypeId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectType,',')))
    AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR P.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))
    AND (@ProjectCategory IS NULL OR @ProjectCategory='' OR P.ProjectCategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectCategory,',')))
    AND (@ProjectSubcategory IS NULL OR @ProjectSubcategory='' OR P.ProjectSubcategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectSubcategory,',')))


),
IssueData AS (
    SELECT 
        DATEADD(WEEK, DATEDIFF(WEEK, 0, I.CreatedOnUtc), 0) AS WeekStart,
        I.ProjectId,
        PM.Id AS ProjectModuleId,
        COUNT(I.Id) AS IssuesCount,
        STRING_AGG(I.Name,';' ) AS IssueNames
    FROM Issue I
    INNER JOIN Projects P ON P.Id = I.ProjectId AND P.Deleted != 1
    LEFT JOIN ProjectModules PM ON PM.Id = I.ProjectModuleId AND PM.Deleted != 1
    WHERE 
        I.Name IS NOT NULL
        AND CAST(I.CreatedOnUtc AS DATE) BETWEEN @FromDate AND @ToDate
        AND  (@ProjectModules IS NULL OR @ProjectModules='' OR Pm.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectModules,',')))
 
    GROUP BY 
        DATEADD(WEEK, DATEDIFF(WEEK, 0, I.CreatedOnUtc), 0),
        I.ProjectId,
        PM.Id
)
SELECT 
    ID.WeekStart,
    FORMAT(ID.WeekStart, 'MM.dd.yy') + ' - ' + FORMAT(DATEADD(DAY, 6, ID.WeekStart), 'MM.dd.yy') AS WeekRange,
    P.ProjectId,
    P.ProjectName,
    P.ProjectModuleId,
    P.ProjectModuleName,
    P.StatusId,
    P.Status,
    ID.IssuesCount,
    ID.IssueNames
FROM IssueData ID
INNER JOIN ProjectsCTE P 
    ON ID.ProjectId = P.ProjectId AND ID.ProjectModuleId = P.ProjectModuleId
WHERE ID.IssuesCount > 0
ORDER BY ID.WeekStart, P.ProjectName, P.ProjectModuleName
OPTION (MAXRECURSION 0);

END;


-- FILE: sp_BI_Project_BugsStatus.sql
