USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_LeaveReport_Details]    Script Date: 12-06-2026 16:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_BI_LeaveReport_Details]
(
    @FromDate DATE = NULL,
    @ToDate DATE = NULL,
    @EmployeeName NVARCHAR(MAX) = NULL,   -- EmployeeId(s)
    @LeaveType NVARCHAR(MAX) = NULL       -- 0,1
)
AS
BEGIN
    SET NOCOUNT ON;

    WITH masterModule AS
    (
        SELECT DISTINCT
            E.Id AS EmployeeId,
            P.FirstName + ' ' + P.LastName AS EmployeeName
        FROM Employee e
        JOIN EmployeeStatus es ON e.Id = es.EmployeeId
        JOIN Dropdown dd ON dd.Id = es.EmployeeStatusId
        JOIN Employeetype et ON e.Id = et.EmployeeId
        JOIN Dropdown emptype ON emptype.Id = et.EmployeetypeId
        JOIN Person p ON e.PersonId = p.Id
        JOIN AspNetUsers a ON a.PersonId = p.Id
        WHERE
            dd.DropDownValue = 'Current'
            AND e.Deleted <> 1
            AND e.Active = 1
            and e.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
    )
    SELECT
        FORMAT(el.CreatedOnUtc, 'MM/dd/yyyy') AS AppliedDate,
        mm.EmployeeId,
        mm.EmployeeName,
        FORMAT(el.FromDate, 'MM/dd/yyyy') AS FromDate,
        FORMAT(el.ToDate, 'MM/dd/yyyy') AS ToDate,
        el.NoofLeaves,
        el.LeaveStatusId,
        dd.DropDownValue AS LeaveStatus,
        el.IsPaidLeave,
        el.LeaveApproverId,
        la.EmployeeName AS ApproverName,
        CASE  
            WHEN el.IsPaidLeave = 0 THEN 'Unpaid'
            WHEN el.IsPaidLeave = 1 THEN 'Paid'
            ELSE '-'        
        END AS LeaveType
    FROM EmployeeLeave el
    LEFT JOIN masterModule mm ON mm.EmployeeId = el.EmployeeId
    LEFT JOIN masterModule la ON la.EmployeeId = el.LeaveApproverId
    LEFT JOIN DropDown dd ON dd.Id = el.LeaveStatusId
    WHERE

        (@FromDate IS NULL OR el.ToDate >= @FromDate)
        AND (@ToDate IS NULL OR el.FromDate <= @ToDate)
        AND el.Deleted <> 1
        AND dd.DropDownValue IN ('Applied','Sent to Approver','Approved')

        -- Employee filter (multi-select safe)
        AND (
            @EmployeeName IS NULL
            OR mm.EmployeeId IN (
                SELECT TRY_CAST(value AS UNIQUEIDENTIFIER)
                FROM STRING_SPLIT(@EmployeeName, ',')
            )
        )

        -- LeaveType filter (BIT-safe)
        AND (
            @LeaveType IS NULL
            OR el.IsPaidLeave IN (
                SELECT CAST(value AS BIT)
                FROM STRING_SPLIT(@LeaveType, ',')
            )
        )
    ORDER BY el.FromDate;
END;
