USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Project_BugsStatus]    Script Date: 12-06-2026 16:42:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sp_BI_Project_BugsStatus]
(
@FromDate DATE =NULL,
@ToDate DATE = NULL
)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SELECT
    DATEADD(WEEK, DATEDIFF(WEEK, 0, I.CreatedOnUtc), 0) AS WeekStart,
    FORMAT(
        DATEADD(WEEK, DATEDIFF(WEEK, 0, I.CreatedOnUtc), 0),
        'MM.dd.yy'
    ) + ' - ' +
    FORMAT(
        DATEADD(DAY, 6, DATEADD(WEEK, DATEDIFF(WEEK, 0, I.CreatedOnUtc), 0)),
        'MM.dd.yy'
    ) AS WeekRange,

    i.projectid,
    p.name AS projectname,
    i.ProjectModuleId,
    pm.name AS projectmodulename,
    i.statusid,
    dd.dropdownvalue AS status,
    COUNT(i.id) AS issuecount
FROM issue i
INNER JOIN projects p
    ON i.projectid = p.id
    AND p.deleted != 1
LEFT JOIN ProjectModules pm
    ON pm.id = i.ProjectModuleId
    AND pm.deleted != 1
INNER JOIN dropdown dd
    ON dd.id = i.statusid
-- optional date filter
WHERE I.CreatedOnUtc BETWEEN @FromDate AND @ToDate
and P.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
GROUP BY
    DATEADD(WEEK, DATEDIFF(WEEK, 0, I.CreatedOnUtc), 0),
    i.projectid,
    p.name,
    i.ProjectModuleId,
    pm.name,
    i.statusid,
    dd.dropdownvalue
ORDER BY
    WeekStart,
    p.name,
    pm.name,
    dd.dropdownvalue;
    END;


-- FILE: sp_BI_Project_MonthlyHours.sql
