USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Expense_CategoryAndSubCategoryDetails]    Script Date: 12-06-2026 16:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_BI_Expense_CategoryAndSubCategoryDetails]
(
    @FromDateParam      DATE,
    @ToDateParam        DATE,
    @CategoryParam      NVARCHAR(MAX) = NULL,
    @SubCategoryParam   NVARCHAR(MAX) = NULL,
    @ApprStatusParam    NVARCHAR(MAX) = NULL,
    @ViewParam          NVARCHAR(50)  -- Expense | Advance | Purchase
)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

    /* =======================
       EXPENSE
    ======================= */
    IF @ViewParam = 'Expense'
    BEGIN
        SELECT 
            e.ExpenseDate AS ExpenseDate,
            ddt.DisplayName AS CategoryName,
            d.DropDownValue AS SubCategoryName,
            statusDD.DropDownValue AS ApprovementStatus,
            e.Memo AS Description,
            SUM(el.Amount) AS TotalAmount
        FROM Expense e
        LEFT JOIN Expense_Lines el ON e.Id = el.ExpenseId
        LEFT JOIN DropDownType ddt ON el.ExpenseCategoryId = ddt.Id
        LEFT JOIN DropDown d ON el.ExpenseSubCategoryId = d.Id
        LEFT JOIN DropDown statusDD ON statusDD.Id = e.StatusId
        WHERE
            e.Deleted <> 1
            AND e.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
            AND ddt.GroupName = 'Expense Category'
            AND CAST(e.ExpenseDate AS DATE) BETWEEN @FromDateParam AND @ToDateParam
            AND (@CategoryParam IS NULL OR ddt.Id IN (SELECT value FROM STRING_SPLIT(@CategoryParam,',')))
            AND (@SubCategoryParam IS NULL OR d.Id IN (SELECT value FROM STRING_SPLIT(@SubCategoryParam,',')))
            AND (
                ((statusDD.DropDownValue IS NULL OR statusDD.DropDownValue = '') AND 'NA' IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,',')))
                OR statusDD.DropDownValue IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,','))
            )
        GROUP BY 
            e.ExpenseDate, ddt.DisplayName, d.DropDownValue,
            statusDD.DropDownValue, e.Memo
        ORDER BY ddt.DisplayName, d.DropDownValue;
    END

    /* =======================
       ADVANCE
    ======================= */
    ELSE IF @ViewParam = 'Advance'
    BEGIN
        SELECT 
            adv.RequestDate AS ExpenseDate,
            ddt.DisplayName AS CategoryName,
            d.DropDownValue AS SubCategoryName,
            statusDD.DropDownValue AS ApprovementStatus,
            adv.AdvanceDetails AS Description,
            SUM(adv.Amount) AS TotalAmount
        FROM Expense_Advance_Requests adv
        LEFT JOIN DropDownType ddt ON adv.ItemCategoryId = ddt.Id
        LEFT JOIN DropDown d ON adv.ItemSubCategoryId = d.Id
        LEFT JOIN DropDown statusDD ON statusDD.Id = adv.StatusId
        WHERE
            adv.Deleted <> 1
            and adv.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
            AND ddt.GroupName = 'Expense Category'
            AND CAST(adv.RequestDate AS DATE) BETWEEN @FromDateParam AND @ToDateParam
            AND (@CategoryParam IS NULL OR ddt.Id IN (SELECT value FROM STRING_SPLIT(@CategoryParam,',')))
            AND (@SubCategoryParam IS NULL OR d.Id IN (SELECT value FROM STRING_SPLIT(@SubCategoryParam,',')))
            AND (
                ((statusDD.DropDownValue IS NULL OR statusDD.DropDownValue = '') AND 'NA' IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,',')))
                OR statusDD.DropDownValue IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,','))
            )
        GROUP BY 
            adv.RequestDate, ddt.DisplayName, d.DropDownValue,
            statusDD.DropDownValue, adv.AdvanceDetails
        ORDER BY ddt.DisplayName, d.DropDownValue;
    END

    /* =======================
       PURCHASE
    ======================= */
    ELSE IF @ViewParam = 'Purchase'
    BEGIN
        SELECT 
            pur.RequestDate AS ExpenseDate,
            ddt.DisplayName AS CategoryName,
            d.DropDownValue AS SubCategoryName,
            statusDD.DropDownValue AS ApprovementStatus,
            pur.Description AS Description,
            SUM(pur.EstimatedAmount) AS TotalAmount
        FROM Expense_Purchase_Requests pur
        LEFT JOIN DropDownType ddt ON pur.ItemCategoryId = ddt.Id
        LEFT JOIN DropDown d ON pur.ItemSubCategoryId = d.Id
        LEFT JOIN DropDown statusDD ON statusDD.Id = pur.StatusId
        WHERE
            pur.Deleted <> 1
            and pur.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
            AND ddt.GroupName = 'Expense Category'
            AND CAST(pur.RequestDate AS DATE) BETWEEN @FromDateParam AND @ToDateParam
            AND (@CategoryParam IS NULL OR ddt.Id IN (SELECT value FROM STRING_SPLIT(@CategoryParam,',')))
            AND (@SubCategoryParam IS NULL OR d.Id IN (SELECT value FROM STRING_SPLIT(@SubCategoryParam,',')))
            AND (
                ((statusDD.DropDownValue IS NULL OR statusDD.DropDownValue = '') AND 'NA' IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,',')))
                OR statusDD.DropDownValue IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,','))
            )
        GROUP BY 
            pur.RequestDate, ddt.DisplayName, d.DropDownValue,
            statusDD.DropDownValue, pur.Description
        ORDER BY ddt.DisplayName, d.DropDownValue;
    END
END
