USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Employee_WeeklyTimesheet]    Script Date: 12-06-2026 16:35:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_BI_Employee_WeeklyTimesheet]
(
    @Year INT = NULL,
    @Month INT = NULL,
    @WeekEndDates NVARCHAR(MAX) = NULL,  
    @Projects NVARCHAR(MAX) = NULL      
)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
    SET DATEFIRST 1; 

    /* Determine selected weeks */
    WITH SelectedWeek AS (
        SELECT TheDate AS WeekEnd
        FROM DimDate
        WHERE 
            (
                @WeekEndDates IS NULL OR @WeekEndDates = ''
                OR TheDate IN (
                    SELECT TRY_CAST(value AS DATE)
                    FROM STRING_SPLIT(@WeekEndDates, ',')
                )
            )
          AND (@Year IS NULL OR YEAR(TheDate) = @Year)
          AND (@Month IS NULL OR MONTH(TheDate) = @Month)
          AND DATEPART(WEEKDAY, TheDate) = 7
    ),

    /* Calculate week boundaries (Monday ? Sunday) */
    WeekRange AS (
        SELECT
            DATEADD(DAY, -6, sw.WeekEnd) AS TheFirstOfWeek,
            sw.WeekEnd AS TheLastOfWeek
        FROM SelectedWeek sw
    ),

    EmployeeDetails AS (
        SELECT DISTINCT
            e.Id AS EmployeeId,
            p.FirstName + ' ' + p.LastName AS EmployeeName,
            es.EmployeeStatusId AS StatusId,
            dd.DropDownValue AS Status
        FROM Employee e
        INNER JOIN Person p 
            ON p.Id = e.PersonId AND p.Deleted <> 1
        LEFT JOIN EmployeeStatus es 
            ON es.EmployeeId = e.Id AND es.Deleted <> 1
        LEFT JOIN DropDown dd 
            ON dd.Id = es.EmployeeStatusId 
           AND dd.Deleted <> 1 
           AND dd.DropDownValue = 'Current'
        LEFT JOIN EmployeeType et 
            ON e.Id = et.EmployeeId
        LEFT JOIN DropDown emptype 
            ON emptype.Id = et.EmployeeTypeId
        WHERE e.Deleted <> 1
          AND e.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
          AND e.Active = 1
          AND es.EmployeeStatusId IS NOT NULL
          AND emptype.DropDownValue NOT IN ('Ex-Employee','On Contract','Consultant','Close')
          AND e.Id NOT IN (
                '1376F665-F831-4A7E-8502-6A6D0DBE01B4',
                '50d748b8-5e03-4f14-ba6b-f4fadfaafea1',
                '040B2C55-B056-4D2D-8F26-1E4A94556F0F'
          )
          AND dd.DropDownValue IS NOT NULL
    ),

    EmployeeWeekMap AS (
        SELECT 
            ed.EmployeeId,
            ed.EmployeeName,
            ed.StatusId,
            ed.Status,
            wr.TheFirstOfWeek,
            wr.TheLastOfWeek
        FROM EmployeeDetails ed
        CROSS JOIN WeekRange wr
    ),

    TimesheetDetail AS (
        SELECT
            t.EmployeeId,
            wr.TheFirstOfWeek,
            wr.TheLastOfWeek,
            SUM(tl.Hours) AS FilledHours
        FROM Timesheet t
        INNER JOIN TimesheetLines tl 
            ON tl.TimesheetId = t.Id AND tl.Deleted <> 1
        INNER JOIN ProjectActivities pa 
            ON pa.Id = tl.ProjectActivityId
        INNER JOIN WeekRange wr 
            ON t.TimesheetDate BETWEEN wr.TheFirstOfWeek AND wr.TheLastOfWeek
        WHERE (t.Deleted = 0 OR t.Deleted IS NULL)
          AND (
                @Projects IS NULL OR @Projects = ''
                OR pa.ProjectId IN (
                    SELECT TRY_CAST(value AS UNIQUEIDENTIFIER)
                    FROM STRING_SPLIT(@Projects, ',')
                )
          )
        GROUP BY 
            t.EmployeeId,
            wr.TheFirstOfWeek,
            wr.TheLastOfWeek
    ),

    WeeklySummary AS (
        SELECT 
            ewm.EmployeeId,
            ewm.EmployeeName,
            ewm.StatusId,
            ewm.Status,
            CONVERT(VARCHAR(10), ewm.TheFirstOfWeek, 110)
            + ' - ' +
            CONVERT(VARCHAR(10), ewm.TheLastOfWeek, 110) AS WeekInterval,
            ISNULL(td.FilledHours, 0) AS Hours
        FROM EmployeeWeekMap ewm
        LEFT JOIN TimesheetDetail td
            ON td.EmployeeId = ewm.EmployeeId
           AND td.TheFirstOfWeek = ewm.TheFirstOfWeek
           AND td.TheLastOfWeek = ewm.TheLastOfWeek
    )

    SELECT
        EmployeeId,
        EmployeeName,
        WeekInterval,
        StatusId,
        Hours
    FROM WeeklySummary
    ORDER BY EmployeeName, WeekInterval;

END;
