USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Helpdesk]    Script Date: 12-06-2026 16:38:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


    ALTER Procedure [dbo].[sp_BI_Helpdesk]
(
    @FromDate DATETIME = NULL,
    @ToDate   DATETIME = NULL,
    @Employee varchar(max)=null
)
AS
BEGIN

SELECT
    h.Id AS HelpDeskId,
    -- Requester Name
    CASE 
        WHEN h.RequesterId IS NOT NULL AND p_req.FirstName IS NOT NULL
        THEN RTRIM(p_req.FirstName + ' ' + p_req.LastName)
        WHEN h.RequesterEmail IS NOT NULL
        THEN REPLACE(
                REPLACE(
                    LEFT(h.RequesterEmail, CHARINDEX('@', h.RequesterEmail) - 1),
                    '.', ' '
                ),
                '_', ' '
             )
        ELSE 'Unknown'
    END AS RequesterName,
    h.RequesterEmail,
    -- Ticket details
    h.TicketNo,
    h.Title,
    h.CreatedOnUTC AS RequestedDate,

    MIN(CASE WHEN d.DropdownValue = 'Assigned'
             THEN hsl.CreatedOnUTC END) AS AssignedStatusDate,

    MIN(CASE WHEN d.DropdownValue = 'Completed'
             THEN hsl.CreatedOnUTC END) AS CompletedStatusDate,
 
    cs.CurrentStatus,

     DATEDIFF(
        DAY,
        h.CreatedOnUTC,
        MIN(CASE 
                WHEN d.DropdownValue = 'Assigned'
                THEN hsl.CreatedOnUTC
            END)
    ) AS DaysToAssign,
 
    -- Days from Assigned to Completed
DATEDIFF(
    DAY,
    MIN(CASE 
            WHEN d.DropdownValue = 'Assigned'
            THEN hsl.CreatedOnUTC
        END),
    MIN(CASE 
            WHEN d.DropdownValue = 'Completed'
            THEN hsl.CreatedOnUTC
        END)
) AS DaysToCompleteFromAssigned,
 
DATEDIFF(
        DAY,
        h.CreatedOnUTC,
        MIN(CASE 
                WHEN d.DropdownValue = 'Completed'
                THEN hsl.CreatedOnUTC
            END)
    ) AS TotalDaysToCompleteTheRequest
 
 

FROM HelpDesk h
LEFT JOIN HelpDesk_StatusLog hsl
    ON h.Id = hsl.HelpDeskId
LEFT JOIN Dropdown d
    ON hsl.StatusId = d.Id
-- Current status (latest)
OUTER APPLY (
    SELECT TOP 1
        d2.DropdownValue AS CurrentStatus
    FROM HelpDesk_StatusLog hsl2
    INNER JOIN Dropdown d2
        ON hsl2.StatusId = d2.Id
    WHERE hsl2.HelpDeskId = h.Id
    ORDER BY hsl2.CreatedOnUTC DESC
) cs
-- Current status start date
OUTER APPLY (
    SELECT TOP 1
        hsl3.CreatedOnUTC AS CurrentStatusStartDate
    FROM HelpDesk_StatusLog hsl3
    INNER JOIN Dropdown d3
        ON hsl3.StatusId = d3.Id
    WHERE hsl3.HelpDeskId = h.Id
      AND d3.DropdownValue = cs.CurrentStatus
    ORDER BY hsl3.CreatedOnUTC DESC
) csd
-- Requester mapping
LEFT JOIN Employee e_req 
    ON h.RequesterId = e_req.Id
LEFT JOIN Person p_req 
    ON e_req.PersonId = p_req.Id
LEFT JOIN notes
    ON notes.moduleid = h.id
WHERE
    h.Deleted = 0
    AND h.SiteId = '04086f10-8f09-4e0c-b5c0-c827a244addd' ---Vsky site id
 AND (@FromDate IS NULL OR h.CreatedOnUTC >= @FromDate)
        AND (@ToDate   IS NULL OR h.CreatedOnUTC < DATEADD(DAY, 1, @ToDate))
        AND (
    @Employee IS NULL 
    OR e_req.Id IN (SELECT value FROM STRING_SPLIT(@Employee, ','))
)
GROUP BY
    h.Id,
    h.TicketNo,
    h.Title,
    h.CreatedOnUTC,
    h.RequesterId,
    h.RequesterEmail,
    p_req.FirstName,
    p_req.LastName,
    cs.CurrentStatus,
    csd.CurrentStatusStartDate,
    h.RequesterEmail
 

ORDER BY
    h.CreatedOnUTC;

    END
