USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Expense_ReportSummary]    Script Date: 12-06-2026 16:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_BI_Expense_ReportSummary]
(
    @FromDateParam      DATE,
    @ToDateParam        DATE,
    @CategoryParam      NVARCHAR(MAX) = NULL,
    @SubCategoryParam   NVARCHAR(MAX) = NULL,
    @ApprStatusParam    NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

    SELECT 
        'Expense Report' AS ReportName,
        CONVERT(VARCHAR(10), @FromDateParam, 103) + ' to ' +
        CONVERT(VARCHAR(10), @ToDateParam, 103) AS ReportDate,
        SUM(el.Amount) AS TotalAmount
    FROM Expense e
    LEFT JOIN Expense_Lines el ON e.Id = el.ExpenseId
    LEFT JOIN DropDownType ddt ON ddt.Id = el.ExpenseCategoryId
    LEFT JOIN DropDown dd ON el.ExpenseSubCategoryId = dd.Id
    LEFT JOIN DropDown statusDD ON statusDD.Id = e.StatusId
    WHERE
        e.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
        AND ddt.GroupName = 'Expense Category'
        AND CAST(e.ExpenseDate AS DATE) BETWEEN @FromDateParam AND @ToDateParam
        AND (@CategoryParam IS NULL OR ddt.Id IN (SELECT value FROM STRING_SPLIT(@CategoryParam,',')))
        AND (@SubCategoryParam IS NULL OR dd.Id IN (SELECT value FROM STRING_SPLIT(@SubCategoryParam,',')))
        AND (
            ((statusDD.DropDownValue IS NULL OR statusDD.DropDownValue = '') AND 'NA' IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,',')))
            OR statusDD.DropDownValue IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,','))
        )

    UNION ALL

    SELECT 
        'Expense Advance Report',
        CONVERT(VARCHAR(10), @FromDateParam, 103) + ' to ' +
        CONVERT(VARCHAR(10), @ToDateParam, 103),
        SUM(adv.Amount)
    FROM Expense_Advance_Requests adv
    LEFT JOIN DropDownType ddt ON ddt.Id = adv.ItemCategoryId
    LEFT JOIN DropDown dd ON adv.ItemSubCategoryId = dd.Id
    LEFT JOIN DropDown statusDD ON statusDD.Id = adv.StatusId
    WHERE
        ddt.GroupName = 'Expense Category'
        AND CAST(adv.RequestDate AS DATE) BETWEEN @FromDateParam AND @ToDateParam
        AND (@CategoryParam IS NULL OR ddt.Id IN (SELECT value FROM STRING_SPLIT(@CategoryParam,',')))
        AND (@SubCategoryParam IS NULL OR dd.Id IN (SELECT value FROM STRING_SPLIT(@SubCategoryParam,',')))
        AND (
            ((statusDD.DropDownValue IS NULL OR statusDD.DropDownValue = '') AND 'NA' IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,',')))
            OR statusDD.DropDownValue IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,','))
        )

    UNION ALL

    SELECT 
        'Expense Purchase Report',
        CONVERT(VARCHAR(10), @FromDateParam, 103) + ' to ' +
        CONVERT(VARCHAR(10), @ToDateParam, 103),
        SUM(pur.EstimatedAmount)
    FROM Expense_Purchase_Requests pur
    LEFT JOIN DropDownType ddt ON ddt.Id = pur.ItemCategoryId
    LEFT JOIN DropDown dd ON pur.ItemSubCategoryId = dd.Id
    LEFT JOIN DropDown statusDD ON statusDD.Id = pur.StatusId
    WHERE
        ddt.GroupName = 'Expense Category'
        AND CAST(pur.RequestDate AS DATE) BETWEEN @FromDateParam AND @ToDateParam
        AND (@CategoryParam IS NULL OR ddt.Id IN (SELECT value FROM STRING_SPLIT(@CategoryParam,',')))
        AND (@SubCategoryParam IS NULL OR dd.Id IN (SELECT value FROM STRING_SPLIT(@SubCategoryParam,',')))
        AND (
            ((statusDD.DropDownValue IS NULL OR statusDD.DropDownValue = '') AND 'NA' IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,',')))
            OR statusDD.DropDownValue IN (SELECT value FROM STRING_SPLIT(@ApprStatusParam,','))
        );
END
