USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Project_WeeklyPlan_Description]    Script Date: 12-06-2026 18:05:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sp_BI_Project_WeeklyPlan_Description]
(
    @FromDate DATE= NULL,
    @ToDate DATE = NULL,
    @Customers NVARCHAR(MAX)=NULL,
    @Projects NVARCHAR(MAX)=NULL,
    @ProjectStatus NVARCHAR(MAX)=NULL,
    @ProjectType NVARCHAR(MAX)=NULL,
    @ProjectCategory NVARCHAR(MAX)=NULL,
    @ProjectPriority NVARCHAR(MAX)=NULL,
    @ProjectSubcategory NVARCHAR(MAX)=NULL
)
AS
BEGIN
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
WITH WeeksCTE AS (
    SELECT DATEADD(WEEK, DATEDIFF(WEEK, 0, @FromDate), 0) AS WeekStart
    UNION ALL
    SELECT DATEADD(WEEK, 1, WeekStart)
    FROM WeeksCTE
    WHERE DATEADD(DAY, 6, DATEADD(WEEK, 1, WeekStart)) <= @ToDate
),

-- 1?? Actual Data
ActualData AS (
    SELECT
        DATEADD(DAY, - (DATEPART(WEEKDAY, PWPD.WeekDate) + @@DATEFIRST - 2) % 7, PWPD.WeekDate) AS WeekStart,
        P.Id AS ProjectId,
        P.Name AS Project,
        CASE WHEN P.Active = 1 THEN 1 ELSE 0 END AS StatusId,
        CASE WHEN P.Active = 1 THEN 'Active' ELSE 'Inactive' END AS Status,
        PC.DropDownValue AS CategoryName,
        PSC.DropDownValue AS SubcategoryName,
        COALESCE(STRING_AGG(PWPDL.ActualDescription, CHAR(13) + CHAR(10)), 'Data Not Available') AS ActualDescription
    FROM Projects P
    INNER JOIN Project_WeeklyPlan PW ON PW.ProjectId = P.Id
    INNER JOIN Project_WeeklyPlan_Dates PWPD ON PWPD.ProjectWeeklyPlanId = PW.Id
    INNER JOIN Project_WeeklyPlan_Dates_Lines PWPDL ON PWPDL.ProjectWeeklyPlanDatesId = PWPD.Id
    LEFT JOIN DropDown D ON D.Id = PWPD.PlanTypeId
    LEFT JOIN DropDown SDD ON SDD.Id = P.ProjectStatusId
    LEFT JOIN DropDown PT ON PT.Id = P.ProjectTypeId
    LEFT JOIN DropDown PP ON PP.Id = P.ProjectPriorityId
    LEFT JOIN DropDown PC ON PC.Id = P.ProjectCategoryId
    LEFT JOIN DropDown PSC ON PSC.Id = P.ProjectSubcategoryId
    WHERE 
        P.Deleted != 1
        AND PWPDL.Deleted != 1
        AND PWPDL.ActualDescription IS NOT NULL
        AND LTRIM(RTRIM(PWPDL.ActualDescription)) <> ''
        AND D.Id = '1CFDEC9F-9C68-4E75-BC4E-E408C5918B1A' --- Weekly Plan ID
        AND PWPD.WeekDate BETWEEN @FromDate AND @ToDate
        AND P.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
        AND (@Customers IS NULL OR @Customers='' OR P.CustomerId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Customers,',')))
        AND (@Projects IS NULL OR @Projects='' OR P.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
        AND (@ProjectStatus IS NULL OR @ProjectStatus='' OR P.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatus,',')))
        AND (@ProjectType IS NULL OR @ProjectType='' OR P.ProjectTypeId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectType,',')))
        AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR P.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))
        AND (@ProjectCategory IS NULL OR @ProjectCategory='' OR P.ProjectCategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectCategory,',')))
        AND (@ProjectSubcategory IS NULL OR @ProjectSubcategory='' OR P.ProjectSubcategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectSubcategory,',')))
  GROUP BY 
        DATEADD(DAY, - (DATEPART(WEEKDAY, PWPD.WeekDate) + @@DATEFIRST - 2) % 7, PWPD.WeekDate),
        P.Id,
        P.Name,
        P.Active,
        PC.DropDownValue,
        PSC.DropDownValue
),

-- 2?? Expected Data
ExpectedData AS (
    SELECT 
        DATEADD(DAY, - (DATEPART(WEEKDAY, PWPD.WeekDate) + @@DATEFIRST - 2) % 7, PWPD.WeekDate) AS WeekStart,
        P.Id AS ProjectId,
        P.Name AS Project,
        CASE WHEN P.Active = 1 THEN 1 ELSE 0 END AS StatusId,
        CASE WHEN P.Active = 1 THEN 'Active' ELSE 'Inactive' END AS Status,
        PC.DropDownValue AS CategoryName,
        PSC.DropDownValue AS SubcategoryName,
        COALESCE(STRING_AGG(PWPDL.ExpectedDescription, CHAR(13) + CHAR(10)), 'Data Not Available') AS ExpectedDescription
    FROM Projects P
    INNER JOIN Project_WeeklyPlan PW ON PW.ProjectId = P.Id
    INNER JOIN Project_WeeklyPlan_Dates PWPD ON PWPD.ProjectWeeklyPlanId = PW.Id
    INNER JOIN Project_WeeklyPlan_Dates_Lines PWPDL ON PWPDL.ProjectWeeklyPlanDatesId = PWPD.Id
    LEFT JOIN DropDown D ON D.Id = PWPD.PlanTypeId
    LEFT JOIN DropDown SDD ON SDD.Id = P.ProjectStatusId
    LEFT JOIN DropDown DPT ON DPT.Id = P.ProjectTypeId
    LEFT JOIN DropDown DPP ON DPP.Id = P.ProjectPriorityId
    LEFT JOIN DropDown PC ON PC.Id = P.ProjectCategoryId
    LEFT JOIN DropDown PSC ON PSC.Id = P.ProjectSubcategoryId
    WHERE 
        P.Deleted != 1
        AND PWPDL.Deleted != 1
        AND PWPDL.ExpectedDescription IS NOT NULL
        AND LTRIM(RTRIM(PWPDL.ExpectedDescription)) <> ''
        AND D.Id = '1CFDEC9F-9C68-4E75-BC4E-E408C5918B1A' --- Weekly Plan ID
        AND PWPD.WeekDate BETWEEN @FromDate AND @ToDate
        AND (@Customers IS NULL OR @Customers='' OR P.CustomerId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Customers,',')))
AND (@Projects IS NULL OR @Projects='' OR P.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
AND (@ProjectStatus IS NULL OR @ProjectStatus='' OR P.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatus,',')))
AND (@ProjectType IS NULL OR @ProjectType='' OR P.ProjectTypeId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectType,',')))
AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR P.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))
AND (@ProjectCategory IS NULL OR @ProjectCategory='' OR P.ProjectCategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectCategory,',')))
AND (@ProjectSubcategory IS NULL OR @ProjectSubcategory='' OR P.ProjectSubcategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectSubcategory,',')))

    GROUP BY 
        DATEADD(DAY, - (DATEPART(WEEKDAY, PWPD.WeekDate) + @@DATEFIRST - 2) % 7, PWPD.WeekDate),
        P.Id,
        P.Name,
        P.Active,
        PC.DropDownValue,
        PSC.DropDownValue
),

-- 3?? Merge Unique Projects (with Category + Subcategory)
AllProjects AS (
    SELECT DISTINCT ProjectId, Project, StatusId, Status, CategoryName, SubcategoryName
    FROM (
        SELECT ProjectId, Project, StatusId, Status, CategoryName, SubcategoryName FROM ActualData
        UNION
        SELECT ProjectId, Project, StatusId, Status, CategoryName, SubcategoryName FROM ExpectedData
    ) p
)

-- 4?? Final Result
SELECT
    W.WeekStart AS [Date],
    FORMAT(COALESCE(A.WeekStart, E.WeekStart, W.WeekStart), ' MMM dd yyyy') + 
    ' - ' + FORMAT(DATEADD(DAY, 6, COALESCE(A.WeekStart, E.WeekStart, W.WeekStart)), ' MMM dd yyyy') AS WeekRange,
    P.ProjectId,
    P.Project,
    P.CategoryName,
    P.SubcategoryName,
    P.StatusId,
    P.Status,
    CASE 
        WHEN A.ActualDescription IS NULL OR LTRIM(RTRIM(A.ActualDescription)) = '' THEN '' 
        ELSE A.ActualDescription 
    END AS ActualDescription,
    CASE 
        WHEN E.ExpectedDescription IS NULL OR LTRIM(RTRIM(E.ExpectedDescription)) = '' THEN '' 
        ELSE E.ExpectedDescription 
    END AS ExpectedDescription
FROM WeeksCTE W
CROSS JOIN AllProjects P
LEFT JOIN ActualData A 
    ON A.WeekStart = W.WeekStart AND A.ProjectId = P.ProjectId
LEFT JOIN ExpectedData E
    ON E.WeekStart = W.WeekStart AND E.ProjectId = P.ProjectId
ORDER BY W.WeekStart, P.ProjectId
OPTION (MAXRECURSION 0);
end;
