USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_ProjectLists]    Script Date: 12-06-2026 18:07:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sp_BI_ProjectLists]
(
@Projects varchar(max)= NULL,
@ProjectCoordinator varchar(max)= NULL,
@ProjectPriority varchar(max)= NULL,
@ProjectStatus varchar(max)= NULL,
@ProjectType varchar(max)= NULL,
@CustomerName varchar(max)= NULL
)
as
begin
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
WITH CoordinatorDetails AS(
SELECT 
P.Id AS ProjectId,
P.[Name] AS ProjectName,
PEM.EmployeeId AS ProjectCoordinatorId,
PER.FirstName+' '+PER.LastName AS ProjectCoordinator
FROM Projects P
LEFT JOIN Project_Employee_Mapping PEM ON PEM.ProjectId=P.Id
LEFT JOIN Employee E ON E.Id=PEM.EmployeeId
LEFT JOIN Person Per ON Per.Id=E.PersonId
LEFT JOIN DropDown DD ON DD.Id=PEM.EmployeeDesignationId
WHERE P.Deleted!=1 AND DD.DropDownValue='Project Coordinator' AND PEM.Deleted!=1
)
SELECT
	P.Id AS ProjectId,
	P.[Name] AS ProjectName,
	FORMAT(P.StartDate,'MM/dd/yyyy') AS StartDate,
	P.ProjectPriorityId AS ProjectPriorityId,
	PDD.DropDownValue AS ProjectPriority,
	P.ProjectStatusId AS ProjectStatusId,
	SDD.DropDownValue AS ProjectStatus,
	P.ProjectTypeId AS ProjectTypeId,
	TDD.DropDownValue AS ProjectType,
	ISNULL(P.CustomerId,'NULL') AS CustomerId,
	ISNULL(C.[Name],'NA') AS CustomerName,
	P.CompanyContactId AS CompanyContactId,
	(PER.FirstName+' '+PER.LastName) AS CompanyContact,
	ISNULL(CD.ProjectCoordinatorId,'') AS ProjectCoordinatorId,
	CD.ProjectCoordinator AS ProjectCoordinator,
	FORMAT(P.GoLiveDate,'MM/dd/yyyy') AS CompletionDate,
	CASE 
		WHEN P.Active=1 THEN 1
		WHEN P.Active=0 THEN 0
	END AS StatusId,
	CASE 
		WHEN P.Active=1 THEN 'Active'
		WHEN P.Active=0 THEN 'Inactive'
	END AS Status
FROM Projects P
LEFT JOIN DropDown PDD ON PDD.Id=P.ProjectPriorityId
LEFT JOIN DropDown SDD ON SDD.Id=P.ProjectStatusId
LEFT JOIN DropDown TDD ON TDD.Id=P.ProjectTypeId
LEFT JOIN CompanyCustomers CC ON CC.Id=P.CustomerId
LEFT JOIN Company C ON C.Id=CC.CompanyId
LEFT JOIN CompanyContacts CCT ON CCT.Id=P.CompanyContactId
LEFT JOIN Person PER ON PER.Id=CCT.PersonId
LEFT JOIN CoordinatorDetails CD ON CD.ProjectId=P.Id
WHERE
	P.Deleted!=1 
    and P.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID
     AND (
    @Projects IS NULL 
    OR @Projects = '' 
    OR P.Id IN (
        SELECT TRY_CAST(value AS UNIQUEIDENTIFIER)
        FROM STRING_SPLIT(@Projects, ',')
    )
)

AND (
    @CustomerName IS NULL 
    OR @CustomerName = '' 
    OR P.CustomerId IN (
        SELECT TRY_CAST(value AS UNIQUEIDENTIFIER)
        FROM STRING_SPLIT(@CustomerName, ',')
    )
)

AND (
    @ProjectType IS NULL 
    OR @ProjectType = '' 
    OR P.ProjectTypeId IN (
        SELECT TRY_CAST(value AS UNIQUEIDENTIFIER)
        FROM STRING_SPLIT(@ProjectType, ',')
    )
)

AND (
    @ProjectStatus IS NULL 
    OR @ProjectStatus = '' 
    OR P.ProjectStatusId IN (
        SELECT TRY_CAST(value AS UNIQUEIDENTIFIER)
        FROM STRING_SPLIT(@ProjectStatus, ',')
    )
)

AND (
    @ProjectPriority IS NULL 
    OR @ProjectPriority = '' 
    OR P.ProjectPriorityId IN (
        SELECT TRY_CAST(value AS UNIQUEIDENTIFIER)
        FROM STRING_SPLIT(@ProjectPriority, ',')
    )
)

AND (
    @ProjectCoordinator IS NULL 
    OR @ProjectCoordinator = '' 
    OR CD.ProjectCoordinatorId IN (
        SELECT TRY_CAST(value AS UNIQUEIDENTIFIER)
        FROM STRING_SPLIT(@ProjectCoordinator, ',')
    )
)
ORDER BY ProjectName
END;
