USE [Meldep_Live_v3-2_Reporting]
GO
/****** Object:  StoredProcedure [dbo].[sp_BI_Project_MonthlyHours]    Script Date: 12-06-2026 16:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER Procedure [dbo].[sp_BI_Project_MonthlyHours]
(

@FromDate DATE = NULL,
@ToDate DATE = NULL,
@ProjectCategory Varchar(max)=NULL,
@ProjectSubCategory Varchar(max)=NULL,
@Customers Varchar(max)=NULL,
@Projects Varchar(max)=NULL,
@ProjectStatus Varchar(max)=NULL,
@ProjectType Varchar(max)=NULL,
@ProjectPriority Varchar(max)=NULL
)
AS
BEGIN

SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;
SELECT 
    ISNULL(dd.DropDownValue, 'No Subcategory') AS SubcategoryName,
    DATENAME(MONTH, t.TimesheetDate) AS MonthName,
    p.Name AS ProjectName,
    pm.name as ProjectModuleName,
    pt.name as ProjectTask,
   --ISNULL(ddt.DisplayName, 'No Category') AS CategoryName,
    YEAR(t.TimesheetDate) AS [Year], 
    MONTH(t.TimesheetDate) AS [Month],
    FORMAT(t.TimesheetDate, 'MMM yyyy') AS MonthYear,  
    SUM(tl.Hours) AS ActualHours
FROM Timesheet t
INNER JOIN TimesheetLines tl ON t.Id = tl.TimesheetId
LEFT JOIN Projects p ON p.Id = tl.ProjectId
LEFT JOIN ProjectModules pm on pm.id = tl.ProjectModuleId
LEFT JOIN ProjectTasks pt on pt.id = tl.ProjectTaskId
  
LEFT JOIN DropDownType ddt 
       ON p.ProjectCategoryId = ddt.Id 
      AND ddt.GroupName = 'ProjectCategory'
LEFT JOIN DropDown dd 
       ON p.ProjectSubcategoryId = dd.Id
WHERE 
    (t.Deleted = 0 OR t.Deleted IS NULL)
    AND (tl.Deleted = 0 OR tl.Deleted IS NULL)
    AND p.Name IS NOT NULL
    AND t.TimesheetDate BETWEEN @FromDate AND @ToDate
   AND (@Customers IS NULL OR @Customers='' OR P.CustomerId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Customers,',')))
    AND (@Projects IS NULL OR @Projects='' OR P.Id IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@Projects,',')))
    AND (@ProjectStatus IS NULL OR @ProjectStatus='' OR P.ProjectStatusId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectStatus,',')))
    AND (@ProjectType IS NULL OR @ProjectType='' OR P.ProjectTypeId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectType,',')))
    AND (@ProjectPriority IS NULL OR @ProjectPriority='' OR P.ProjectPriorityId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectPriority,',')))
    AND (@ProjectCategory IS NULL OR @ProjectCategory='' OR P.ProjectCategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectCategory,',')))
    AND (@ProjectSubcategory IS NULL OR @ProjectSubcategory='' OR P.ProjectSubcategoryId IN (SELECT TRY_CAST(value AS UNIQUEIDENTIFIER) FROM STRING_SPLIT(@ProjectSubcategory,',')))
    and p.Siteid='04086f10-8f09-4e0c-b5c0-c827a244addd' -- Vsky SiteID

GROUP BY 
    p.Name,
    pm.name,
    pt.name,
    dd.DropDownValue,
    YEAR(t.TimesheetDate),
    MONTH(t.TimesheetDate),
    DATENAME(MONTH, t.TimesheetDate),
    FORMAT(t.TimesheetDate, 'MMM yyyy')
ORDER BY
    dd.DropDownValue,
    p.Name,
    YEAR(t.TimesheetDate),
    MONTH(t.TimesheetDate);
    end;
